{% render 'renderer__color-scheme', name: "section", color_scheme: block.settings.color_scheme_upsell, selector: ".product-upsell" %}

{% if block.settings.products %}
	{%- liquid
		assign upsell_products = ""

		for product in block.settings.products
			if product.available
				assign upsell_products = upsell_products | append: product.first_available_variant.id
			endif

			unless forloop.last
				assign upsell_products = upsell_products | append: ","
			endunless
		endfor
	-%}

	<div class="product-upsell px-[20px] py-[16px] flex flex-col gap-[10px]" x-show="!upsellsIncludedInCart" x-data="{
		upsellsIncludedInCart: false,
		upsellProducts: [{{ upsell_products }}],

		init() {
			this.$watch('$store.cart.cartData.items', data => {
				if (data !== null && data !== undefined) {
					const checksCartItems = this.upsellProducts.every(id => data.some(item => item.id === id))
					this.upsellsIncludedInCart = checksCartItems
				}
			})
		},

		upsellIncludedInCart(id) {
			if (!Array.isArray($store.cart.cartData.items)) return false
			return $store.cart.cartData.items.some(item => item.id === id)
		},
	}">
		{%- if block.settings.title != blank -%}
			<div class="product-upsell__header flex flex-col gap-[2px]">
				<div class="product-upsell__title [font-family:var(--font-heading-h5)] text-[16px] font-[700] leading-[1.4] uppercase [color:var(--section-heading)]">
					<p>{{ block.settings.title }}</p>
				</div>
				{%- if block.settings.subtitle != blank -%}
					<div class="product-upsell__subtitle [font-family:var(--font-body)] text-[12px] font-[700] leading-[1.4] uppercase opacity-60 [color:var(--section-heading)]">
						<p>{{ block.settings.subtitle }}</p>
					</div>
				{%- endif -%}
			</div>
		{%- endif -%}

		<div class="product-upsell__inner flex flex-col gap-[8px]">
			{%- for product in block.settings.products -%}
				{% if product.available %}
					{% assign variant = product.selected_or_first_available_variant %}

					<template x-if="!$data.upsellIncludedInCart({{ variant.id }})">
						<div class="product-upsell__product relative flex items-stretch overflow-hidden rounded-[10px] border border-[currentColor] [background:var(--soft-stone,#d5d1c8)] [&:nth-child(3)~.product-upsell__product]:hidden">
							<div class="product-upsell__product-image aspect-[90/83] w-[90px] shrink-0 overflow-hidden border-b border-r border-t border-[currentColor]">
								{% assign image = product.media[0] %}
								{% if image != blank %}
									{% assign height = 100 | divided_by: image.aspect_ratio %}
									{{ image | image_url: width: 100 | image_tag: width: 100, alt: product.title, height: height, class: "w-full min-h-full block object-cover" }}
								{% endif %}
							</div>

							<div class="product-upsell__product-info flex grow items-center justify-between px-[14px] py-[20px]">
								<div class="product-upsell__product-title [font-family:var(--font-heading-h5)] text-[15px] font-[500] leading-[1.4] uppercase [color:var(--section-heading)]">
									<p>{{ product.title }}</p>
								</div>

								<div class="product-upsell__product-action">
									<form data-productid="{{ product.id }}" id="upsell-form-{{ forloop.index }}" @submit.prevent.debounce.300ms="$store.cart.addToCart({{- variant.id -}})">
										{% render 'product-form__hidden-input', product: product %}
										<input type="hidden" name="id" data-productid="{{ product.id }}" value="{{ variant.id }}">
									</form>

									<button type="submit" class="product-upsell__product-button flex h-[42px] w-[100px] items-center justify-center rounded-[5px] border border-[currentColor] px-[20px] [background:var(--essential-white,#eeece5)]" form="upsell-form-{{ forloop.index }}">
										<div class="[font-family:var(--font-heading-h5)] text-[15px] font-[500] leading-[1.4] uppercase text-center whitespace-nowrap [color:var(--section-heading)]">
											<p>Add</p>
										</div>
									</button>
								</div>
							</div>
						</div>
					</template>
				{%- endif -%}
			{% endfor %}
		</div>
	</div>
{% endif %}
