<style>
  #shopify-section-{{ section.id }} .header-logo {
    width: 100%;
    max-width: {{ section.settings.logo_width_mobile }}px;
  }
  @media (min-width: 1024px) {
    #shopify-section-{{ section.id }} .header-logo {
      max-width: {{ section.settings.logo_width_desktop }}px;
    }
  }
</style>
<a href="/" itemprop="url"
  class="header__logo header-logo
  {%- if section.settings.logo_sticky != blank %} has-sticky-logo{%- endif %}">
  {%- if section.settings.logo != blank -%}
    {%- assign image_width = section.settings.logo.width | times: 1.00 -%}
    {%- assign image_height = section.settings.logo.height | times: 1.00 -%}
    {%- assign aspect_ratio = image_width | divided_by: image_height -%}
    {%- assign height = 420 | divided_by: aspect_ratio | round: 2 -%}
    {{ section.settings.logo
        | image_url: width: 420
        | image_tag: width: 420,
          height: height,
          widths: "300,360,420",
          alt: shop.name,
          class: "header-logo__default" }}
  {%- endif -%}
  {%- if section.settings.logo_sticky != blank -%}
    {%- assign sticky_width = section.settings.logo_sticky.width | times: 1.00 -%}
    {%- assign sticky_height = section.settings.logo_sticky.height | times: 1.00 -%}
    {%- assign sticky_ratio = sticky_width | divided_by: sticky_height -%}
    {%- assign sticky_img_height = 420 | divided_by: sticky_ratio | round: 2 -%}
    {{ section.settings.logo_sticky
        | image_url: width: 420
        | image_tag: width: 420,
          height: sticky_img_height,
          widths: "300,360,420",
          alt: shop.name,
          class: "header-logo__sticky" }}
  {%- endif -%}
</a>
