{%- liquid
  case block.settings.sort
    when 'products_high' or 'products_low'
      assign collections = collections | sort: 'all_products_count'
    when 'date' or 'date_reversed'
      assign collections = collections | sort: 'published_at'
  endcase

  if block.settings.sort == 'products_high' or block.settings.sort == 'date_reversed' or block.settings.sort == 'alphabetical_reversed'
    assign collections = collections | reverse
  endif
-%}
<div class="inner grid gap-4 grid-cols-1 medium:grid-cols-2 medium:gap-5 large:grid-cols-3">
  {%- for collection in collections -%}
    {%- liquid
      if collection.description != blank
        assign card_aria_label = collection.description | strip_html | truncatewords: 20 | append: "Shop" | append: collection.title
      else 
        assign card_aria_label = " Shop " | append: collection.title
      endif
    -%}

    <a {% if collection.all_products_count > 0 %}href="{{ collection.url }}"{% endif %} class="card" aria-label="{{- card_aria_label -}}">
      <div class="card-inner overflow-hidden [border:var(--global-border-width)_solid_currentColor] rounded-[var(--global-border-radius)]">
        <div class="card-image overflow-hidden h-[12.5rem] [border-bottom:var(--global-border-width)_solid_currentColor] medium:h-[14.375rem] large:h-[20.625rem]">
          {% render 'component__lazyload-image', image: collection.featured_image, width: 420, widths: "360,420", class: "image-cover", alt: collection.title %}
        </div>
        <div class="card-content p-[1.25rem] overflow-hidden medium:py-[1.25rem] medium:px-[1.5625rem]">
          <h3>{{- collection.title -}}</h3>
          {%- if collection.description != blank -%}
            <p>{{- collection.description | strip_html | truncatewords: 20 -}}</p>
          {%- endif -%}
          <div role="link" class="button secondary" aria-label="{{- card_aria_label -}}">
            <span>Shop {{ collection.title }}</span>
          </div>
        </div>
      </div>
    </a>
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Collections Grid",
    "class": "section-collection",
    "settings": [
    
    ]
  }
{% endschema %}
