{%- render 'settings__block-layout-controls' -%}
{%- if block.settings.color != blank -%}
  {%- assign divider_color_val = block.settings.color -%}
{%- else -%}
  {%- assign divider_color_val = "currentColor" -%}
{%- endif -%}
<style>
  #shopify-block-{{ block.id }} .footer__divider__line {
    background-color: color-mix(in srgb, {{ divider_color_val }} {{ block.settings.opacity }}%, transparent);
    {%- if block.settings.height > 1 -%}height: {{ block.settings.height }}px;{%- endif -%}
  }
</style>
<div class="footer__divider" {{ block.shopify_attributes }}>
  <div class="footer__divider__inner">
    <div class="footer__divider__line w-full h-px"></div>
  </div>
</div>

{%- schema -%}
  {
    "name": "Divider",
    "class": "footer__divider",
    "settings": [
      {
        "type": "header",
        "content": "Divider Settings"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Color",
        "info": "Leave blank to use current text color."
      },
      {
        "type": "range",
        "id": "opacity",
        "label": "Opacity",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "default": 100
      },
      {
        "type": "number",
        "id": "height",
        "label": "Height (px)",
        "default": 1
      },
      {
        "type": "header",
        "content": "Block Layout Controls"
      },
      {
        "type": "paragraph",
        "content": "Width Settings"
      },
      {
        "type": "checkbox",
        "id": "enable_width_settings",
        "label": "Enable Width Settings",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "width_mobile",
        "label": "Width - Mobile",
        "default": false,
        "visible_if": "{{ block.settings.enable_width_settings }}"
      },
      {
        "type": "number",
        "id": "width_mobile_value",
        "label": "Width Value - Mobile",
        "default": 0,
        "visible_if": "{{ block.settings.width_mobile and block.settings.width_mobile_unit != 'custom' }}"
      },
      {
        "type": "text",
        "id": "width_mobile_custom",
        "label": "Width Custom - Mobile",
        "info": "Use this for custom values or calculations like calc(100% / 3).",
        "visible_if": "{{ block.settings.width_mobile and block.settings.width_mobile_unit == 'custom' }}"
      },
      {
        "type": "select",
        "id": "width_mobile_unit",
        "label": "Width Unit - Mobile",
        "options": [
          { "value": "px", "label": "Pixels (px)" },
          { "value": "%", "label": "Percent (%)" },
          { "value": "vw", "label": "Viewport Width (vw)" },
          { "value": "custom", "label": "Custom" }
        ],
        "default": "px",
        "visible_if": "{{ block.settings.width_mobile }}"
      },
      {
        "type": "checkbox",
        "id": "width_desktop",
        "label": "Width - Desktop",
        "default": false,
        "visible_if": "{{ block.settings.enable_width_settings }}"
      },
      {
        "type": "number",
        "id": "width_desktop_value",
        "label": "Width Value - Desktop",
        "default": 0,
        "visible_if": "{{ block.settings.width_desktop and block.settings.width_desktop_unit != 'custom' }}"
      },
      {
        "type": "text",
        "id": "width_desktop_custom",
        "label": "Width Custom - Desktop",
        "info": "Use this for custom values or calculations like calc(100% / 3).",
        "visible_if": "{{ block.settings.width_desktop and block.settings.width_desktop_unit == 'custom' }}"
      },
      {
        "type": "select",
        "id": "width_desktop_unit",
        "label": "Width Unit - Desktop",
        "options": [
          { "value": "px", "label": "Pixels (px)" },
          { "value": "%", "label": "Percent (%)" },
          { "value": "vw", "label": "Viewport Width (vw)" },
          { "value": "custom", "label": "Custom" }
        ],
        "default": "px",
        "visible_if": "{{ block.settings.width_desktop }}"
      },
      {
        "type": "paragraph",
        "content": "Padding Settings"
      },
      {
        "type": "checkbox",
        "id": "enable_padding_settings",
        "label": "Enable Padding Settings",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "padding_y_mobile",
        "label": "Padding Y - Mobile",
        "default": false,
        "visible_if": "{{ block.settings.enable_padding_settings }}"
      },
      {
        "type": "number",
        "id": "padding_top_mobile",
        "label": "Padding Top - Mobile",
        "default": 0,
        "visible_if": "{{ block.settings.padding_y_mobile }}"
      },
      {
        "type": "number",
        "id": "padding_bottom_mobile",
        "label": "Padding Bottom - Mobile",
        "default": 0,
        "visible_if": "{{ block.settings.padding_y_mobile }}"
      },
      {
        "type": "checkbox",
        "id": "padding_y_desktop",
        "label": "Padding Y - Desktop",
        "default": false,
        "visible_if": "{{ block.settings.enable_padding_settings }}"
      },
      {
        "type": "number",
        "id": "padding_top_desktop",
        "label": "Padding Top - Desktop",
        "default": 0,
        "visible_if": "{{ block.settings.padding_y_desktop }}"
      },
      {
        "type": "number",
        "id": "padding_bottom_desktop",
        "label": "Padding Bottom - Desktop",
        "default": 0,
        "visible_if": "{{ block.settings.padding_y_desktop }}"
      },
      {
        "type": "paragraph",
        "content": "Margin Settings"
      },
      {
        "type": "checkbox",
        "id": "enable_margin_settings",
        "label": "Enable Margin Settings",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "margin_y_mobile",
        "label": "Margin Y - Mobile",
        "default": false,
        "visible_if": "{{ block.settings.enable_margin_settings }}"
      },
      {
        "type": "number",
        "id": "margin_top_mobile",
        "label": "Margin Top - Mobile",
        "default": 0,
        "visible_if": "{{ block.settings.margin_y_mobile }}"
      },
      {
        "type": "number",
        "id": "margin_bottom_mobile",
        "label": "Margin Bottom - Mobile",
        "default": 0,
        "visible_if": "{{ block.settings.margin_y_mobile }}"
      },
      {
        "type": "checkbox",
        "id": "margin_y_desktop",
        "label": "Margin Y - Desktop",
        "default": false,
        "visible_if": "{{ block.settings.enable_margin_settings }}"
      },
      {
        "type": "number",
        "id": "margin_top_desktop",
        "label": "Margin Top - Desktop",
        "default": 0,
        "visible_if": "{{ block.settings.margin_y_desktop }}"
      },
      {
        "type": "number",
        "id": "margin_bottom_desktop",
        "label": "Margin Bottom - Desktop",
        "default": 0,
        "visible_if": "{{ block.settings.margin_y_desktop }}"
      }
    ],
    "blocks": [],
    "presets": [
      {
        "name": "Divider"
      }
    ]
  }
{%- endschema -%}
