{%- assign container_width = section.settings.container_width -%}
{%- assign max_width = section.settings.max_width -%}

{%- if max_width != 0 and container_width == "" -%}
  {%- capture max_width_style -%}
    style="max-width: {{ max_width }}rem;"
  {%- endcapture -%}
{%- endif -%}

<div class="video-banner{% if block.settings.enable_overlay %} has-overlay{% endif %} absolute top-0 left-0 w-full h-full [&_video]:w-full [&_video]:h-full [&_video]:block [&_video]:object-cover">
  {%- if block.settings.enable_overlay -%}
    <div class="video-banner__overlay absolute top-0 left-0 w-full h-full z-[1] [background:var(--overlay-mobile)] large:[background:var(--overlay-desktop)]"
      style="--overlay-mobile: {{ block.settings.overlay_mobile }}; --overlay-desktop: {{ block.settings.overlay_desktop }};"></div>
  {%- endif -%}
  {%- unless block.settings.poster != blank -%}
    {%- capture svg_code -%}{{- 'lifestyle-2' | placeholder_svg_tag -}}{%- endcapture -%}
    {%- render 'component__svg-encoder', svg_code: svg_code, alt: "placeholder image" -%}
  {%- else -%}
    {%- render 'component__video-with-controls',
      block_id: block.id,
      video: block.settings.video,
      poster_size: 5120,
      autoplay: true,
      loop: true,
      controls: false,
      muted: true,
      poster: block.settings.poster,
      show_play_button: false,
      show_speaker_button: false,
      without_wrapper: true
     -%}
  {%- endunless -%}
</div>

<div class="{{ container_width }} relative z-[2]{% if container_width != 'full' %} mx-auto large:max-w-[90rem] xxlarge:max-w-[100rem] px-[var(--grid-container-padding-mobile)] large:px-[var(--grid-container-padding-desktop)]{% endif %}" {{ max_width_style }}>
  <div class="alignment-helper flex flex-row flex-wrap [justify-content:var(--justify-content-mobile)] [text-align:var(--text-align-mobile)] large:[justify-content:var(--justify-content-desktop)] large:[text-align:var(--text-align-desktop)]">
    <div class="section-content w-full min-w-0 relative z-[2] flex [align-items:inherit] [justify-content:inherit] flex-wrap gap-x-[1.875rem] mb-[5rem] last:mb-0 large:mb-[5.625rem] large:gap-x-[3.75rem] [&>.shopify-block:not(:last-child)]:mb-[0.9375rem] large:[&>.shopify-block:not(:last-child)]:mb-[1.875rem] empty:hidden pt-[var(--top-spacing-mobile)] pb-[var(--bottom-spacing-mobile)] large:pt-[var(--top-spacing-desktop)] large:pb-[var(--bottom-spacing-desktop)]"
      data-stagger-inview=".section-icon__wrapper, .section-content__small-text, .section-content__text, .section-content__button">
      {%- content_for "block", type: "_section-content", id: "section-content" -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Video Slide",
    "class": "image-video-banner__video-slide mfr-carousel__item relative w-full",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "Video File"
      },
      {
        "type": "image_picker",
        "id": "poster",
        "label": "Poster Image"
      },
      {
        "type": "checkbox",
        "id": "enable_overlay",
        "label": "Enable Overlay",
        "default": false
      },
      {
        "type": "color_background",
        "id": "overlay_mobile",
        "label": "Overlay - Mobile"
      },
      {
        "type": "color_background",
        "id": "overlay_desktop",
        "label": "Overlay - Desktop"
      }
    ],
    "presets": [
      {
        "name": "Video Slide",
        "blocks": [
          {
            "type": "_section-content",
            "id": "section-content",
            "static": true,
            "blocks": [
              { "type": "_section-content__title" }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
