{%- capture slides_content -%}
  {% if block.blocks.size > 0 %}
    {%- content_for "blocks" -%}
  {%- elsif request.design_mode -%}
    <div class="image-video-banner__image-slide mfr-carousel__item">
      <div class="image-banner"
        data-image-parallax>
        {%- capture svg_code -%}{{- 'lifestyle-2' | placeholder_svg_tag -}}{%- endcapture -%}
        {% render 'component__svg-encoder', svg_code: svg_code, alt: "placeholder image" %}
      </div>

      <div class="relative px-[var(--grid-container-padding-mobile)] z-[1] mx-auto w-full max-w-container-md large:px-[var(--grid-container-padding-desktop)]">
        <div class="alignment-helper flex flex-row flex-wrap">
          <div class="section-content w-full min-w-0">
            <div class="section-content__inner">
              <h2 class="section-title h1">
                Lorem ipsum dolor sit amet.
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{%- endcapture -%}
{%- capture settings -%}
{
  contain: true,
  wrapAround: true,
  groupCells: false,
  autoPlay: {{- block.settings.autoplay_timing | times: 1000 | default: 0 -}},
  mobileSettings: {
    cellAlign: "center",
    wrapAround: true
  }
}
{%- endcapture -%}

<style>
  #shopify-block-{{ block.id }} .mfr-carousel__item {
    min-height: {{ block.settings.height_value_mobile | default: 100 }}{{ block.settings.height_unit_mobile | default: 'svh' }};
  }

  @media screen and (min-height: 1024px) {
    #shopify-block-{{ block.id }} .mfr-carousel__item {
      min-height: {{ block.settings.height_value_desktop | default: 100 }}{{ block.settings.height_unit_desktop | default: 'svh' }};
    }
  }
</style>
<div class="image-video-banner__height-container min-h-[var(--banner-height-mobile)] large:min-h-[var(--banner-height-desktop)]">
  {% render 'mfr-component__carousel',
    settings: settings,
    class: "image-video-banner__carousel [&_.flickity-page-dots]:m-0 [&_.flickity-page-dots]:absolute [&_.flickity-page-dots]:bottom-[0.9375rem] [&_.flickity-page-dots]:w-full [&_.flickity-button]:top-1/2",
    content: slides_content
  %}
</div>

{% schema %}
  {
    "name": "Banner Carousel",
    "class": "image-video-banner",
    "settings": [
      {
        "type": "number",
        "id": "autoplay_timing",
        "label": "Autoplay Timing",
        "default": 5,
        "info": "In seconds"
      },
      {
        "type": "header",
        "content": "Banner Height"
      },
      {
        "type": "number",
        "id": "height_value_mobile",
        "label": "Height - Mobile",
        "default": 100
      },
      {
        "type": "select",
        "id": "height_unit_mobile",
        "label": "Unit - Mobile",
        "options": [
          { "value": "svh", "label": "svh (safe viewport)" },
          { "value": "vh", "label": "vh (viewport)" },
          { "value": "px", "label": "px" },
          { "value": "%", "label": "%" }
        ],
        "default": "svh"
      },
      {
        "type": "number",
        "id": "height_value_desktop",
        "label": "Height - Desktop",
        "default": 100
      },
      {
        "type": "select",
        "id": "height_unit_desktop",
        "label": "Unit - Desktop",
        "options": [
          { "value": "svh", "label": "svh (safe viewport)" },
          { "value": "vh", "label": "vh (viewport)" },
          { "value": "px", "label": "px" },
          { "value": "%", "label": "%" }
        ],
        "default": "svh"
      }
    ],
    "blocks": [
      { "type": "_image-video-banner__image-slide" },
      { "type": "_image-video-banner__video-slide" }
    ],
    "presets": [
      {
        "name": "Banner Carousel",
        "blocks": [
          {
            "type": "_image-video-banner__image-slide"
          }
        ]
      }
    ]
  }
{% endschema %}
