{%- render "settings__block-layout-controls" -%}

{%- assign pills_ns = block.settings.pills_metafield_namespace -%}
{%- assign pills_key = block.settings.pills_metafield_key -%}
{%- assign pills_metafield = product.metafields[pills_ns][pills_key] -%}

<div class="product-top__images w-full border-b large:border-b-0 large:border-r border-current">
  <div class="product-top__images__inner">

    <div class="product-top__images-carousel-wrap large:hidden">
      {%- render 'product-top__images-carousel',
        product: product,
        section: section,
        block: block,
        pills_metafield: pills_metafield -%}
    </div>

    <div class="product-top__images-grid hidden large:flex flex-wrap w-full">
      {%- for media in product.media -%}
        {%- assign img_ext = media.preview_image.src | split: '.' | last | split: '?' | first | downcase -%}
        {%- if img_ext == 'png' -%}
          {%- assign img_class = "w-full h-full block object-contain" -%}
        {%- else -%}
          {%- assign img_class = "w-full h-full block object-cover" -%}
        {%- endif -%}
        {%- assign item_index_mod = forloop.index | modulo: 3 -%}
        {%- if item_index_mod == 1 -%}
          {%- assign item_ar = block.settings.desktop_full_aspect_ratio | default: '931/777' -%}
        {%- else -%}
          {%- assign item_ar = block.settings.desktop_half_aspect_ratio | default: '466/574' -%}
        {%- endif -%}
        <div class="product-top__images-item relative w-full [&:nth-child(3n+2)]:w-1/2 [&:nth-child(3n)]:w-1/2 overflow-hidden" style="aspect-ratio: {{ item_ar }}">
          {%- if media.media_type == 'image' -%}
            {%- render "component__lazyload-image",
              image: media.preview_image,
              width: 1200,
              class: img_class -%}
          {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
            <div class="w-full h-full">
              {{- media | media_tag: class: "w-full h-full object-cover", autoplay: false -}}
            </div>
          {%- else -%}
            {%- render "component__lazyload-image",
              image: media.preview_image,
              width: 1200,
              class: "w-full h-full block object-cover" -%}
          {%- endif -%}
          {%- if forloop.first -%}
            {%- if pills_metafield != blank or product.options_with_values.size > 0 -%}
              <div class="product-top__images-pills absolute">
                {%- for pill in pills_metafield.value -%}
                  <div class="[font-family:var(--font-body)] text-[12px] font-[700] leading-[1em] uppercase rounded-[5px] px-[8px] py-[7px] bg-[var(--soft-stone,#d5d1c8)] text-[color:var(--carbon,#1e1b22)]">
                    <span>{{ pill }}</span>
                  </div>
                {%- endfor -%}
                {%- for value in product.options_with_values[0].values -%}
                  <div class="[font-family:var(--font-body)] text-[12px] font-[700] leading-[1em] uppercase rounded-[5px] px-[8px] py-[4px] border border-current">
                    <span>{{ value }}</span>
                  </div>
                {%- endfor -%}
              </div>
            {%- endif -%}
          {%- endif -%}
        </div>
      {%- else -%}
        <div class="product-top__images-item w-full overflow-hidden bg-gray-100" style="aspect-ratio: 931/777">
        </div>
      {%- endfor -%}
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Images",
  "class": "product-top__images-wrapper w-full",
  "settings": [
    {
      "type": "header",
      "content": "Benefit Pills"
    },
    {
      "type": "paragraph",
      "content": "Set the metafield to a list.single_line_text_field type. Each value in the list will render as a pill below the image grid."
    },
    {
      "type": "text",
      "id": "pills_metafield_namespace",
      "label": "Metafield Namespace",
      "default": "mfr_fields"
    },
    {
      "type": "text",
      "id": "pills_metafield_key",
      "label": "Metafield Key",
      "default": "benefits"
    },
    {
      "type": "header",
      "content": "Desktop Image Aspect Ratios"
    },
    {
      "type": "text",
      "id": "desktop_full_aspect_ratio",
      "label": "Full Width Aspect Ratio",
      "default": "931/777",
      "info": "Format: width/height e.g. 931/777"
    },
    {
      "type": "text",
      "id": "desktop_half_aspect_ratio",
      "label": "Half Width Aspect Ratio",
      "default": "466/574",
      "info": "Format: width/height e.g. 466/574"
    },
    {
      "type": "header",
      "content": "Block Layout Controls"
    },
    {
      "type": "paragraph",
      "content": "Width Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_width_settings",
      "label": "Enable Width Settings",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "width_mobile",
      "label": "Width - Mobile",
      "default": false,
      "visible_if": "{{ block.settings.enable_width_settings }}"
    },
    {
      "type": "number",
      "id": "width_mobile_value",
      "label": "Width Value - Mobile",
      "default": 0,
      "visible_if": "{{ block.settings.width_mobile and block.settings.width_mobile_unit != 'custom' }}"
    },
    {
      "type": "text",
      "id": "width_mobile_custom",
      "label": "Width Custom - Mobile",
      "info": "Use this for custom values or calculations like calc(100% / 3).",
      "visible_if": "{{ block.settings.width_mobile and block.settings.width_mobile_unit == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile_unit",
      "label": "Width Unit - Mobile",
      "options": [
        { "value": "px", "label": "Pixels (px)" },
        { "value": "%", "label": "Percent (%)" },
        { "value": "vw", "label": "Viewport Width (vw)" },
        { "value": "custom", "label": "Custom" }
      ],
      "default": "px",
      "visible_if": "{{ block.settings.width_mobile }}"
    },
    {
      "type": "checkbox",
      "id": "width_desktop",
      "label": "Width - Desktop",
      "default": false,
      "visible_if": "{{ block.settings.enable_width_settings }}"
    },
    {
      "type": "number",
      "id": "width_desktop_value",
      "label": "Width Value - Desktop",
      "default": 0,
      "visible_if": "{{ block.settings.width_desktop and block.settings.width_desktop_unit != 'custom' }}"
    },
    {
      "type": "text",
      "id": "width_desktop_custom",
      "label": "Width Custom - Desktop",
      "info": "Use this for custom values or calculations like calc(100% / 3).",
      "visible_if": "{{ block.settings.width_desktop and block.settings.width_desktop_unit == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_desktop_unit",
      "label": "Width Unit - Desktop",
      "options": [
        { "value": "px", "label": "Pixels (px)" },
        { "value": "%", "label": "Percent (%)" },
        { "value": "vw", "label": "Viewport Width (vw)" },
        { "value": "custom", "label": "Custom" }
      ],
      "default": "px",
      "visible_if": "{{ block.settings.width_desktop }}"
    },
    {
      "type": "checkbox",
      "id": "max_width_mobile",
      "label": "Max Width - Mobile",
      "default": false,
      "visible_if": "{{ block.settings.enable_width_settings }}"
    },
    {
      "type": "number",
      "id": "max_width_mobile_value",
      "label": "Max Width Value - Mobile",
      "default": 0,
      "visible_if": "{{ block.settings.max_width_mobile and block.settings.max_width_mobile_unit != 'custom' }}"
    },
    {
      "type": "text",
      "id": "max_width_mobile_custom",
      "label": "Max Width Custom - Mobile",
      "info": "Use this for custom values or calculations like calc(100% / 3).",
      "visible_if": "{{ block.settings.max_width_mobile and block.settings.max_width_mobile_unit == 'custom' }}"
    },
    {
      "type": "select",
      "id": "max_width_mobile_unit",
      "label": "Max Width Unit - Mobile",
      "options": [
        { "value": "px", "label": "Pixels (px)" },
        { "value": "%", "label": "Percent (%)" },
        { "value": "vw", "label": "Viewport Width (vw)" },
        { "value": "custom", "label": "Custom" }
      ],
      "default": "px",
      "visible_if": "{{ block.settings.max_width_mobile }}"
    },
    {
      "type": "checkbox",
      "id": "max_width_desktop",
      "label": "Max Width - Desktop",
      "default": false,
      "visible_if": "{{ block.settings.enable_width_settings }}"
    },
    {
      "type": "number",
      "id": "max_width_desktop_value",
      "label": "Max Width Value - Desktop",
      "default": 0,
      "visible_if": "{{ block.settings.max_width_desktop and block.settings.max_width_desktop_unit != 'custom' }}"
    },
    {
      "type": "text",
      "id": "max_width_desktop_custom",
      "label": "Max Width Custom - Desktop",
      "info": "Use this for custom values or calculations like calc(100% / 3).",
      "visible_if": "{{ block.settings.max_width_desktop and block.settings.max_width_desktop_unit == 'custom' }}"
    },
    {
      "type": "select",
      "id": "max_width_desktop_unit",
      "label": "Max Width Unit - Desktop",
      "options": [
        { "value": "px", "label": "Pixels (px)" },
        { "value": "%", "label": "Percent (%)" },
        { "value": "vw", "label": "Viewport Width (vw)" },
        { "value": "custom", "label": "Custom" }
      ],
      "default": "px",
      "visible_if": "{{ block.settings.max_width_desktop }}"
    },
    {
      "type": "paragraph",
      "content": "Padding Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_padding_settings",
      "label": "Enable Padding Settings",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "padding_x_mobile",
      "label": "Padding X - Mobile",
      "default": false,
      "visible_if": "{{ block.settings.enable_padding_settings }}"
    },
    {
      "type": "number",
      "id": "padding_left_mobile",
      "label": "Padding Left - Mobile",
      "default": 0,
      "visible_if": "{{ block.settings.padding_x_mobile }}"
    },
    {
      "type": "number",
      "id": "padding_right_mobile",
      "label": "Padding Right - Mobile",
      "default": 0,
      "visible_if": "{{ block.settings.padding_x_mobile }}"
    },
    {
      "type": "checkbox",
      "id": "padding_y_mobile",
      "label": "Padding Y - Mobile",
      "default": false,
      "visible_if": "{{ block.settings.enable_padding_settings }}"
    },
    {
      "type": "number",
      "id": "padding_top_mobile",
      "label": "Padding Top - Mobile",
      "default": 0,
      "visible_if": "{{ block.settings.padding_y_mobile }}"
    },
    {
      "type": "number",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom - Mobile",
      "default": 0,
      "visible_if": "{{ block.settings.padding_y_mobile }}"
    },
    {
      "type": "checkbox",
      "id": "padding_x_desktop",
      "label": "Padding X - Desktop",
      "default": false,
      "visible_if": "{{ block.settings.enable_padding_settings }}"
    },
    {
      "type": "number",
      "id": "padding_left_desktop",
      "label": "Padding Left - Desktop",
      "default": 0,
      "visible_if": "{{ block.settings.padding_x_desktop }}"
    },
    {
      "type": "number",
      "id": "padding_right_desktop",
      "label": "Padding Right - Desktop",
      "default": 0,
      "visible_if": "{{ block.settings.padding_x_desktop }}"
    },
    {
      "type": "checkbox",
      "id": "padding_y_desktop",
      "label": "Padding Y - Desktop",
      "default": false,
      "visible_if": "{{ block.settings.enable_padding_settings }}"
    },
    {
      "type": "number",
      "id": "padding_top_desktop",
      "label": "Padding Top - Desktop",
      "default": 0,
      "visible_if": "{{ block.settings.padding_y_desktop }}"
    },
    {
      "type": "number",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom - Desktop",
      "default": 0,
      "visible_if": "{{ block.settings.padding_y_desktop }}"
    },
    {
      "type": "paragraph",
      "content": "Margin Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_margin_settings",
      "label": "Enable Margin Settings",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "margin_x_mobile",
      "label": "Margin X - Mobile",
      "default": false,
      "visible_if": "{{ block.settings.enable_margin_settings }}"
    },
    {
      "type": "number",
      "id": "margin_left_mobile",
      "label": "Margin Left - Mobile",
      "default": 0,
      "visible_if": "{{ block.settings.margin_x_mobile }}"
    },
    {
      "type": "number",
      "id": "margin_right_mobile",
      "label": "Margin Right - Mobile",
      "default": 0,
      "visible_if": "{{ block.settings.margin_x_mobile }}"
    },
    {
      "type": "checkbox",
      "id": "margin_y_mobile",
      "label": "Margin Y - Mobile",
      "default": false,
      "visible_if": "{{ block.settings.enable_margin_settings }}"
    },
    {
      "type": "number",
      "id": "margin_top_mobile",
      "label": "Margin Top - Mobile",
      "default": 0,
      "visible_if": "{{ block.settings.margin_y_mobile }}"
    },
    {
      "type": "number",
      "id": "margin_bottom_mobile",
      "label": "Margin Bottom - Mobile",
      "default": 0,
      "visible_if": "{{ block.settings.margin_y_mobile }}"
    },
    {
      "type": "checkbox",
      "id": "margin_x_desktop",
      "label": "Margin X - Desktop",
      "default": false,
      "visible_if": "{{ block.settings.enable_margin_settings }}"
    },
    {
      "type": "number",
      "id": "margin_left_desktop",
      "label": "Margin Left - Desktop",
      "default": 0,
      "visible_if": "{{ block.settings.margin_x_desktop }}"
    },
    {
      "type": "number",
      "id": "margin_right_desktop",
      "label": "Margin Right - Desktop",
      "default": 0,
      "visible_if": "{{ block.settings.margin_x_desktop }}"
    },
    {
      "type": "checkbox",
      "id": "margin_y_desktop",
      "label": "Margin Y - Desktop",
      "default": false,
      "visible_if": "{{ block.settings.enable_margin_settings }}"
    },
    {
      "type": "number",
      "id": "margin_top_desktop",
      "label": "Margin Top - Desktop",
      "default": 0,
      "visible_if": "{{ block.settings.margin_y_desktop }}"
    },
    {
      "type": "number",
      "id": "margin_bottom_desktop",
      "label": "Margin Bottom - Desktop",
      "default": 0,
      "visible_if": "{{ block.settings.margin_y_desktop }}"
    }
  ],
  "presets": [
    {
      "name": "Images"
    }
  ]
}
{% endschema %}
