{% comment %} {% render 'style-tags__section', asset_file_name: "footer.css", lazyload: true %} {% endcomment %}
{% render 'renderer__color-scheme', name: "footer", color_scheme: section.settings.color_scheme, selector: ".footer" %}
{% assign appear_on = section.settings.appear_on | newline_to_br | strip_newlines | split: '<br />' %}

{% if appear_on == blank or appear_on contains template or appear_on contains template.name or appear_on contains template.suffix %}
  <style>
    #footer {
      --footer-overlay-mobile: url('{{ 'footer__overlay-mobile.png' | asset_img_url: 'master' }}');
      --footer-overlay-desktop: url('{{ 'footer__overlay-desktop.png' | asset_img_url: 'master' }}');
    }
  </style>
  {%- if section.settings.bg_color != blank -%}
    <style>
      #shopify-section-{{ section.id }}.footer__main { background: {{ section.settings.bg_color }}; }
    </style>
  {%- endif -%}
  <div class="w-full flex flex-row flex-wrap" data-inview>
    <div class="footer__contents flex flex-row align-stretch transition-all flex-wrap large:flex-row large:justify-between w-full min-w-0">
      {%- content_for "blocks" -%}
    </div>
  </div>
{% else %}
  <style>
    #shopify-section-{{- section.id -}} {
      visibility: hidden;
      display: none;
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "Footer",
  "class": "footer__main",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme",
      "info": "This will be the color scheme of the footer initially."
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color Override",
      "info": "Overrides the color scheme background. Supports gradients."
    },
    {
      "type": "header",
      "content": "Visibility Settings"
    },
    {
      "type": "textarea",
      "id": "appear_on",
      "label": "Appear Only On:",
      "info": "Separated by newline. Insert template.suffix. Example: product or product.bundles"
    }
  ],

  "blocks": [
    { "type": "_footer__column" },
    { "type": "_footer__divider" },
    { "type": "_footer__image" },
    { "type": "_footer__copyright" }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
