{% render 'renderer__color-scheme', name: "announcement-bar", color_scheme: section.settings.announcement_bar_color_scheme, selector: ".announcement-bar" %}
<style>
  #header .announcement-bar-marquee__container--infinite {
    {% if settings.announcement_bar_marquee_speed %}
      animation-duration:{{ settings.announcement_bar_marquee_duration }}s;
    {% endif %}
  }
  {% if settings.announcement_bar_marquee_speed_mobile %}
    @media screen and (max-width: 640px) {
      #header .announcement-bar-marquee__container--infinite {
        animation-duration:{{ settings.announcement_bar_marquee_duration_mobile }}s;
      }
    }
  {% endif %}
  {% if section.settings.bg_color != blank %}
    #shopify-section-{{ section.id }} .announcement-bar {
      --announcement-bar-background: {{ section.settings.bg_color }};
    }
  {% endif %}
</style>
{% assign announcements = section.blocks | where: "type", "announcement" %}
{% assign announcements_size = announcements | size %}
{% if announcements_size > 1 %}
  {% assign marquee_class = "announcement-bar-marquee" %}
{% endif %}
{% if settings.announcement_bar_enable_infinite %}
  {% assign marquee_infinite_class = "announcement-bar-marquee__container--infinite" %}
{% endif %}

{% assign show_announcement = true %}
{% if settings.announcement_bar_home_page_only %}
  {% unless template == "index" %}
    {% assign show_announcement = false %}
  {% endunless %}
{% endif %}

{%- capture alpine_attributes -%}
  x-data='{ isSticky: window.scrollY <= 120 }'
  x-cloak
  x-collapse
  x-show='isSticky'
  x-on:scroll.window='isSticky = window.scrollY <= 120'
{%- endcapture -%}

{% capture inline_style %}
  --marquee-animation-name: {{ settings.announcement_bar_marquee_direction }};
  --marquee-animation-duration: {{ settings.announcement_bar_marquee_duration }}s;
{% endcapture %}

{% if show_announcement %}
  {% if settings.announcement_enable_marquee != blank %}
    <div class="announcement-bar {{ marquee_class }} marquee-scroller__wrapper relative flex items-center overflow-hidden z-[2] py-[0.0625rem] transition-all"
      {{ alpine_attributes }}
      style="{{ inline_style }}">
      <div class="announcement-bar-marquee__container {{ marquee_infinite_class }} marquee-scroller__group">
        {% for i in (1..4) %}
          {% for announcement in announcements %}
            {% if announcement.settings.announcement_bar_text != blank %}
              <div class="announcement-bar-marquee__entry marquee-scroller__item {{ announcement.settings.font_family }}"
                id="shopify-block-{{ announcement.id }}">
                {%- render "settings__font-settings", block: announcement -%}
                {%- if announcement.settings.announcement_bar_link != blank -%}
                  <a href="{{ announcement.settings.announcement_bar_link }}"
                    class="[font-family:var(--custom-font-name-2)] text-[13px] leading-[1.4] font-bold uppercase text-center opacity-70">
                    {{ announcement.settings.announcement_bar_text | escape }}
                  </a>
                {%- else -%}
                  <span class="[font-family:var(--custom-font-name-2)] text-[13px] leading-[1.4] font-bold uppercase text-center opacity-70">{{ announcement.settings.announcement_bar_text | escape }}</span>
                {%- endif -%}
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      {% render 'script__section', file: "mfr-marquee.js" %}
    </div>
  {% else %}
    <div class="announcement-bar non-marquee relative flex items-center justify-center overflow-hidden z-[2] py-[0.0625rem] transition-all"
      {{ alpine_attributes }}>
      {% for announcement in announcements %}
        {% if announcement.settings.announcement_bar_text != blank %}
          <div class="announcement-bar-marquee__entry marquee-scroller__item max-w-full {{ announcement.settings.font_family }}"
            id="shopify-block-{{ announcement.id }}">
            {%- render "settings__font-settings", block: announcement -%}
            {%- if announcement.settings.announcement_bar_link != blank -%}
              <a href="{{ announcement.settings.announcement_bar_link }}"
                class="[font-family:var(--custom-font-name-2)] text-[13px] leading-[1.4] font-bold uppercase text-center opacity-70">
                {{ announcement.settings.announcement_bar_text | escape }}
              </a>
            {%- else -%}
              <span class="[font-family:var(--custom-font-name-2)] text-[13px] leading-[1.4] font-bold uppercase text-center opacity-70">{{ announcement.settings.announcement_bar_text | escape }}</span>
            {%- endif -%}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endif %}

{% schema %}
  {
    "name": "Announcement Bar",
    "enabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "header",
        "content": "Color Schemes Settings"
      },
      {
        "type": "color_scheme",
        "id": "announcement_bar_color_scheme",
        "default": "scheme_1",
        "label": "Announcement Bar Color Scheme"
      },
      {
        "type": "color_background",
        "id": "bg_color",
        "label": "Background Color"
      }
    ],
    "blocks": [
      {
        "type": "announcement",
        "name": "Announcement",
        "settings": [
          {
            "type": "text",
            "id": "announcement_bar_text",
            "label": "Announcement text",
            "default": "Announce something here"
          },
          {
            "type": "url",
            "id": "announcement_bar_link",
            "label": "Announcement link",
            "info": "Optional"
          },
          {
            "type": "header",
            "content": "Font Settings"
          },
          {
            "type": "checkbox",
            "id": "enable_font_settings",
            "label": "Override Font Styles",
            "default": false
          },
          {
            "type": "select",
            "id": "font_family",
            "label": "Font Family",
            "options": [
              { "value": "", "label": "Use Theme Settings" },
              { "value": "custom-font-name-1", "label": "Custom Font 1" },
              { "value": "custom-font-name-2", "label": "Custom Font 2" },
              { "value": "custom-font-name-3", "label": "Custom Font 3" },
              { "value": "custom-font-name-4", "label": "Custom Font 4" }
            ],
            "default": "",
            "visible_if": "{{ block.settings.enable_font_settings }}"
          },
          {
            "type": "select",
            "id": "font_case",
            "label": "Font Case",
            "options": [
              { "value": "", "label": "Default" },
              { "value": "capitalize", "label": "Capitalize" },
              { "value": "uppercase", "label": "Uppercase" },
              { "value": "lowercase", "label": "Lowercase" }
            ],
            "default": "",
            "visible_if": "{{ block.settings.enable_font_settings }}"
          },
          {
            "type": "header",
            "content": "Mobile Font Settings"
          },
          {
            "type": "number",
            "id": "font_size_mobile",
            "label": "Font Size - Mobile",
            "default": 0,
            "info": "in px. Leave at 0 to inherit.",
            "visible_if": "{{ block.settings.enable_font_settings }}"
          },
          {
            "type": "number",
            "id": "line_height_mobile",
            "label": "Line Height - Mobile",
            "default": 0,
            "info": "in px. Leave at 0 to inherit.",
            "visible_if": "{{ block.settings.enable_font_settings }}"
          },
          {
            "type": "number",
            "id": "letter_spacing_mobile",
            "label": "Letter Spacing - Mobile",
            "default": 0,
            "info": "in px. Leave at 0 to inherit.",
            "visible_if": "{{ block.settings.enable_font_settings }}"
          },
          {
            "type": "select",
            "id": "font_weight_mobile",
            "label": "Font Weight - Mobile",
            "options": [
              { "value": "", "label": "Default" },
              { "value": "100", "label": "100 - Thin" },
              { "value": "200", "label": "200 - Extra Light" },
              { "value": "300", "label": "300 - Light" },
              { "value": "400", "label": "400 - Regular" },
              { "value": "500", "label": "500 - Medium" },
              { "value": "600", "label": "600 - Semi Bold" },
              { "value": "700", "label": "700 - Bold" },
              { "value": "800", "label": "800 - Extra Bold" },
              { "value": "900", "label": "900 - Black" }
            ],
            "default": "",
            "visible_if": "{{ block.settings.enable_font_settings }}"
          },
          {
            "type": "header",
            "content": "Desktop Font Settings"
          },
          {
            "type": "number",
            "id": "font_size_desktop",
            "label": "Font Size - Desktop",
            "default": 0,
            "info": "in px. Leave at 0 to inherit.",
            "visible_if": "{{ block.settings.enable_font_settings }}"
          },
          {
            "type": "number",
            "id": "line_height_desktop",
            "label": "Line Height - Desktop",
            "default": 0,
            "info": "in px. Leave at 0 to inherit.",
            "visible_if": "{{ block.settings.enable_font_settings }}"
          },
          {
            "type": "number",
            "id": "letter_spacing_desktop",
            "label": "Letter Spacing - Desktop",
            "default": 0,
            "info": "in px. Leave at 0 to inherit.",
            "visible_if": "{{ block.settings.enable_font_settings }}"
          },
          {
            "type": "select",
            "id": "font_weight_desktop",
            "label": "Font Weight - Desktop",
            "options": [
              { "value": "", "label": "Default" },
              { "value": "100", "label": "100 - Thin" },
              { "value": "200", "label": "200 - Extra Light" },
              { "value": "300", "label": "300 - Light" },
              { "value": "400", "label": "400 - Regular" },
              { "value": "500", "label": "500 - Medium" },
              { "value": "600", "label": "600 - Semi Bold" },
              { "value": "700", "label": "700 - Bold" },
              { "value": "800", "label": "800 - Extra Bold" },
              { "value": "900", "label": "900 - Black" }
            ],
            "default": "",
            "visible_if": "{{ block.settings.enable_font_settings }}"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Announcement Bar"
      }
    ]
  }
{% endschema %}
