{%- if section.settings.bg_color_override != blank -%}
  <style>
    header.header .header__wrapper { --header-background: {{ section.settings.bg_color_override }}; }
  </style>
{%- endif -%}
{%- if section.settings.bg_color_sticky_override != blank -%}
  <style>
    header.header.header--sticky .header__wrapper { --header-background: {{ section.settings.bg_color_sticky_override }}; }
  </style>
{%- endif -%}

{%- if section.settings.mega_menu_header_color_change -%}
  {%- render 'renderer__color-scheme',
    name: "header",
    color_scheme: section.settings.mega_menu_header_color_scheme,
    selector: "header.header .header__wrapper--mega-open" -%}
{%- endif -%}
<style>
  .header__wrapper--mega-open { background: var(--active-mega-menu-bg, var(--header-background)) !important; }
  .header__wrapper--mega-open .header__inner { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: var(--header-text); }
</style>

{%- assign appear_on = section.settings.appear_on | newline_to_br | strip_newlines | split: '<br />' -%}
{%- assign layout_mobile = section.settings.layout_mobile -%}
{%- assign layout_desktop = section.settings.layout_desktop -%}

{%- if request.design_mode -%}
  {%- assign design_mode_class = "design-mode" -%}
{%- endif -%}

{% capture header_inline_styling %}
  --header-offset-mobile: {{ section.settings.offset_mobile }}px;
  --header-offset-desktop: {{ section.settings.offset_desktop }}px;
  --header-offset-sticky-mobile: {{ section.settings.offset_sticky_mobile }}px;
  --header-offset-sticky-desktop: {{ section.settings.offset_sticky_desktop }}px;
  --header-border-radius-mobile: {{ section.settings.border_radius_mobile }}px;
  --header-border-radius-desktop: {{ section.settings.border_radius_desktop }}px;
  --header-border-radius-sticky-mobile: {{ section.settings.sticky_border_radius_mobile }}px;
  --header-border-radius-sticky-desktop: {{ section.settings.sticky_border_radius_desktop }}px;
  {%- assign border_bottom_alpha_mobile = section.settings.border_bottom_opacity_mobile | divided_by: 100.0 -%}
  {%- assign border_bottom_alpha_desktop = section.settings.border_bottom_opacity_desktop | divided_by: 100.0 -%}
  --header-border-bottom-color-mobile: {{ section.settings.border_bottom_color_mobile | color_modify: 'alpha', border_bottom_alpha_mobile }};
  --header-border-bottom-color-desktop: {{ section.settings.border_bottom_color_desktop | color_modify: 'alpha', border_bottom_alpha_desktop }};
{% endcapture %}
{%- assign border_bottom_mobile_classes = "" -%}
{%- assign border_bottom_desktop_classes = "" -%}
{%- if section.settings.show_border_bottom_mobile -%}
  {%- assign border_bottom_mobile_classes = "border-b [border-color:var(--header-border-bottom-color-mobile)]" -%}
{%- endif -%}
{%- if section.settings.show_border_bottom_desktop -%}
  {%- assign border_bottom_desktop_classes = "large:border-b large:[border-color:var(--header-border-bottom-color-desktop)]" -%}
{%- elsif section.settings.show_border_bottom_mobile -%}
  {%- assign border_bottom_desktop_classes = "large:border-b-0" -%}
{%- endif -%}
{% if appear_on == blank or appear_on contains template or appear_on contains template.name or appear_on contains template.suffix %}
  {%- render "script__section", file: "MFRMegaMenu.js" -%}
  {% render 'renderer__color-scheme', name: "header", color_scheme: section.settings.color_scheme, selector: "header.header .header__wrapper" %}
  {% render 'renderer__color-scheme', name: "header", color_scheme: section.settings.color_scheme_sticky, selector: "header.header.header--sticky .header__wrapper" %}
  
  <div class="header__wrapper {{ design_mode_class }} flex justify-center items-center flex-col transition-all duration-200 relative"
    x-data="{ megaMenuOpen: false }"
    @mega-menu-opened="megaMenuOpen = true; $el.style.setProperty('--active-mega-menu-bg', $event.detail.background)"
    @mega-menu-closed="megaMenuOpen = false; $el.style.removeProperty('--active-mega-menu-bg')"
    :class="{ 'header__wrapper--mega-open': megaMenuOpen }"
    style="{{ header_inline_styling }}">
    <div class="header__inner w-full relative {{ border_bottom_mobile_classes }} {{ border_bottom_desktop_classes }}">
      <div class="header__wrapper-inner {{ layout_mobile }}--mobile {{ layout_desktop }}--desktop">
        {%- if section.settings.grid_container_width == "full" -%}
          {%- assign grid_container_class = "grid-container full max-w-none px-[var(--grid-container-padding-mobile)] large:px-[var(--grid-container-padding-desktop)]" -%}
        {%- else -%}
          {%- assign grid_container_class = "grid-container mx-auto max-w-[var(--grid-container-max-width)] px-[var(--grid-container-padding-mobile)] large:px-[var(--grid-container-padding-desktop)]" -%}
        {%- endif -%}
        <div class="{{ grid_container_class }} h-full">
          {%- content_for "block", type: "_header__left", id: "header-left" -%}
          {%- content_for "block", type: "_header__center", id: "header-center" -%}
          {%- content_for "block", type: "_header__right", id: "header-right" -%}
        </div> <!-- .grid-container -->
      </div>
    </div>
    {%- content_for "blocks" -%}
  </div> <!-- .header__wrapper -->
{% else %}
  <style>
    #shopify-section-{{- section.id -}} {
      visibility: hidden;
      display: none;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "enabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "header",
        "content": "Layout Settings"
      },
      {
        "type": "select",
        "id": "layout_mobile",
        "label": "Layout - Mobile",
        "options": [
          {
            "value": "logo-left",
            "label": "Logo Left"
          },
          {
            "value": "logo-left-contained",
            "label": "Logo Left (Contained Left)"
          },
          {
            "value": "logo-left-contained-right",
            "label": "Logo Left (Contained Right)"
          },
          {
            "value": "logo-center",
            "label": "Logo Center"
          },
          {
            "value": "logo-center-contained-left",
            "label": "Logo Center (Contained Left)"
          },
          {
            "value": "logo-center-contained-right",
            "label": "Logo Center (Contained Right)"
          }
        ],
        "default": "logo-left"
      },
      {
        "type": "select",
        "id": "layout_desktop",
        "label": "Layout - Desktop",
        "options": [
          {
            "value": "logo-left-contained",
            "label": "Logo Left (Menu Left)"
          },
          {
            "value": "logo-left",
            "label": "Logo Left (Menu Center)"
          },
          {
            "value": "logo-left-contained-right",
            "label": "Logo Left (Menu Right)"
          },
          {
            "value": "logo-center",
            "label": "Logo Center"
          }
        ],
        "default": "logo-left"
      },
      {
        "type": "header",
        "content": "Container Settings"
      },
      {
        "type": "select",
        "id": "grid_container_width",
        "label": "Grid Container Width",
        "options": [
          { "value": "contain", "label": "Contain" },
          { "value": "full", "label": "Full" }
        ],
        "default": "contain"
      },
      {
        "type": "header",
        "content": "Color Schemes Settings"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "scheme_1",
        "label": "Color Scheme",
        "info": "This will be the color scheme of the header initially."
      },
      {
        "type": "color_scheme",
        "id": "color_scheme_sticky",
        "default": "scheme_1",
        "label": "Color Scheme (When Sticky)",
        "info": "This will be the color scheme of the header when sticky."
      },
      {
        "type": "color_background",
        "id": "bg_color_override",
        "label": "Background Color Override",
        "info": "Overrides the background from the color scheme above."
      },
      {
        "type": "color_background",
        "id": "bg_color_sticky_override",
        "label": "Background Color Override (When Sticky)",
        "info": "Overrides the background from the sticky color scheme above."
      },
      {
        "type": "header",
        "content": "Layout Settings"
      },
      {
        "type": "range",
        "id": "offset_mobile",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Offset - Mobile",
        "default": 0,
        "info": "This will give header offset from top, left and right on mobile."
      },
      {
        "type": "range",
        "id": "offset_desktop",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Offset - Desktop",
        "default": 0,
        "info": "This will give header offset from top, left and right on desktop."
      },
      {
        "type": "range",
        "id": "offset_sticky_mobile",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Sticky Offset - Mobile",
        "default": 0,
        "info": "This will give header offset from top, left and right on mobile when header goes sticky."
      },
      {
        "type": "range",
        "id": "offset_sticky_desktop",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Sticky Offset - Desktop",
        "default": 0,
        "info": "This will give header offset from top, left and right on desktop when header goes sticky."
      },
      {
        "type": "range",
        "id": "border_radius_mobile",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border Radius - Mobile",
        "default": 0
      },
      {
        "type": "range",
        "id": "border_radius_desktop",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border Radius - Desktop",
        "default": 0
      },
      {
        "type": "range",
        "id": "sticky_border_radius_mobile",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Sticky Border Radius - Mobile",
        "default": 0
      },
      {
        "type": "range",
        "id": "sticky_border_radius_desktop",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Sticky Border Radius - Desktop",
        "default": 0
      },
      {
        "type": "header",
        "content": "Border Bottom - Mobile"
      },
      {
        "type": "checkbox",
        "id": "show_border_bottom_mobile",
        "label": "Show Border Bottom - Mobile",
        "default": false
      },
      {
        "type": "color",
        "id": "border_bottom_color_mobile",
        "label": "Border Bottom Color - Mobile",
        "default": "#ffffff",
        "visible_if": "{{ section.settings.show_border_bottom_mobile == true }}"
      },
      {
        "type": "range",
        "id": "border_bottom_opacity_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Border Bottom Opacity - Mobile",
        "default": 20,
        "visible_if": "{{ section.settings.show_border_bottom_mobile == true }}"
      },
      {
        "type": "header",
        "content": "Border Bottom - Desktop"
      },
      {
        "type": "checkbox",
        "id": "show_border_bottom_desktop",
        "label": "Show Border Bottom - Desktop",
        "default": false
      },
      {
        "type": "color",
        "id": "border_bottom_color_desktop",
        "label": "Border Bottom Color - Desktop",
        "default": "#ffffff",
        "visible_if": "{{ section.settings.show_border_bottom_desktop == true }}"
      },
      {
        "type": "range",
        "id": "border_bottom_opacity_desktop",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Border Bottom Opacity - Desktop",
        "default": 20,
        "visible_if": "{{ section.settings.show_border_bottom_desktop == true }}"
      },
      {
        "type": "header",
        "content": "Mega Menu Settings"
      },
      {
        "type": "checkbox",
        "id": "mega_menu_header_color_change",
        "label": "Change header colors when mega menu opens",
        "default": false
      },
      {
        "type": "color_scheme",
        "id": "mega_menu_header_color_scheme",
        "label": "Header Color Scheme — Mega Menu Open",
        "default": "scheme_1",
        "visible_if": "{{ section.settings.mega_menu_header_color_change == true }}"
      },
      {
        "type": "image_picker",
        "id": "logo_mega_menu",
        "label": "Logo - Mega Menu Open",
        "info": "This logo will appear when a mega menu is open.",
        "visible_if": "{{ section.settings.mega_menu_header_color_change == true }}"
      },
      {
        "type": "header",
        "content": "Visibility Settings"
      },
      {
        "type": "textarea",
        "id": "appear_on",
        "label": "Appear Only On:",
        "info": "Separated by newline. Insert template.suffix. Example: product or product.bundles"
      }
    ],
    "blocks": [
      {
        "type": "_header__mega-menu"
      }
    ],
    "presets": [
      {
        "name": "Header",
        "blocks": [
          {
            "type": "_header__left",
            "id": "header-left",
            "static": true
          },
          {
            "type": "_header__center",
            "id": "header-center",
            "static": true
          },
          {
            "type": "_header__right",
            "id": "header-right",
            "static": true
          }
        ]
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
  {%- liquid
    assign socials_array = "twitter,facebook,pinterest,instagram,tumblr,snapchat,youtube,vimeo" | split: ","
    assign same_as_links = ""
    assign separator = ""

    for social in socials_array
      assign key = "social_" | append: social | append: "_link"
      assign url = settings[key]
      if url != blank
        assign same_as_links = same_as_links | append: separator  | append: '"'  | append: url | append: '"'
        assign separator = ","
      endif
    endfor
  -%}
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    "logo": "https:{{ 'logo.png' | asset_url }}",
    "sameAs": [{{ same_as_links }}],
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>

{% if template.name == "index" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
