<section class="page-404 [padding-top:unset]!">
  <div class="page-404__wrapper w-full mx-auto [color:var(--color-white)]">
    <div class="page-404__content text-center">
      <div class="page-404__title bg-[var(--brand-color)] [color:var(--color-white)] w-full pt-[10rem] px-[0.9375rem] pb-[3.75rem] large:pt-[15rem] large:pb-[8.125rem]">
        <h1 class="h1 m-0">{{ 'templates.404.subtext' | t }}</h1>
      </div>
      <div class="page-404__body mx-auto w-full max-w-[45rem] pt-[5rem] px-[0.9375rem] pb-[3.75rem] [color:var(--color-black)] large:pt-[6.25rem] large:pb-[8.75rem]">
        <h2 class="h3 mb-4">{{ 'templates.404.title' | t }}</h2>
        <p class="max-w-[25rem] mx-auto [font-size:var(--font-body-size-regular-mobile)] large:[font-size:var(--font-body-size-regular)]">{{ 'templates.404.description' | t }}</p>
        <a href="/"
          class="button primary [color:var(--color-white)]! min-w-[13.125rem] [background-color:var(--color-black)]! [border-color:var(--color-black)]!"
          aria-label="{{ 'general.continue_shopping' | t }}"
        >
          <span class="text">{{ 'general.continue_shopping' | t | capitalize }}</span>
        </a>
      </div>
    </div>
  </div>
</section>
