{%- comment -%}
--------------------------------------
assign section settings to variables
--------------------------------------
{%- endcomment -%}

{% render 'style-tags__section', asset_file_name: "mfr-product__features.css" %}
{%- assign container_width = section.settings.container_width -%}
{%- assign max_width = section.settings.max_width -%}
{%- assign grid_gutter = section.settings.grid_gutter -%}
{%- assign color_theme = section.settings.color_theme -%}
{%- assign custom_class = section.settings.custom_class -%}

{%- assign section_id = section.settings.custom_id | default: section.id -%}
{% render 'renderer__color-scheme', name: "section", color_scheme: section.settings.color_scheme, selector: ".shopify-section", section_id: section_id %}

{%- if max_width != 0 and container_width == "" -%}
  {%- capture max_width_style -%}
    style="max-width: {{ max_width }}rem;"
  {%- endcapture -%}
{%- endif -%}

{% capture spacer %}
  --top-spacing-mobile: {{ section.settings.top_spacing_mobile | default: 100}}px;
  --bottom-spacing-mobile: {{ section.settings.bottom_spacing_mobile | default: 100 }}px;
  --top-spacing-desktop: {{ section.settings.top_spacing_desktop | default: 100 }}px;
  --bottom-spacing-desktop: {{ section.settings.bottom_spacing_desktop | default: 100 }}px;
{% endcapture %}
{% render 'section__settings-styles' %}
<section class="mfr-product__features {{ custom_class }} {{ grid_gutter }}" id="{{ section_id }}">
  <div class="section-spacer background {{ grid_gutter }} pt-[var(--top-spacing-mobile)] pb-[var(--bottom-spacing-mobile)] large:pt-[var(--top-spacing-desktop)] large:pb-[var(--bottom-spacing-desktop)]" style="{{ spacer }}">
    <div class="grid-container{% if container_width == 'full' %} full max-w-none px-0{% else %} mx-auto max-w-[var(--grid-container-max-width)] px-[var(--grid-container-padding-mobile)] large:px-[var(--grid-container-padding-desktop)]{% endif %} w-full relative z-[1]" {{ max_width_style }}>
      <div class="alignment-helper {{ color_theme }} flex flex-row flex-wrap [justify-content:var(--justify-content-mobile)] [text-align:var(--text-align-mobile)] large:[justify-content:var(--justify-content-desktop)] large:[text-align:var(--text-align-desktop)]">
        <div class="section-content w-full min-w-0"
          data-stagger-inview=".section-icon__wrapper, .section-content__small-text, .section-content__text, .section-content__button">
          {%- content_for "blocks" -%}
        </div>
      </div>
    </div>

  {%- render 'component__gradient-bg-styles' -%}
  </div>
  {%- render 'component__section-dividers', is_video_background: true -%}
  {% content_for "block", type: "_accent-graphics", id: "accent-graphics" %}
</section>


{% schema %}
{
  "name": "Product Features",
  "class": "overflow-hidden",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.offcanvas",
      "custom.modals"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "container_width",
      "options": [
        {
          "value": "full",
          "label": "Full"
        },
        {
          "value": "",
          "label": "Contain"
        }
      ],
      "label": "Width",
      "default": "full"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "rem",
      "label": "Max Content Width",
      "default": 0
    },
    {
      "type": "select",
      "id": "grid_gutter",
      "options": [
        {
          "value": "",
          "label": "No Margin"
        },
        {
          "value": "grid-gutter-mobile",
          "label": "On Mobile"
        },
        {
          "value": "grid-gutter-desktop",
          "label": "On Desktop"
        },
        {
          "value": "grid-gutter-mobile grid-gutter-desktop",
          "label": "On Both"
        }
      ],
      "label": "Section Margin"
    },
    {
      "type": "header",
      "content": "Alignment Settings"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "Content Alignment - Mobile",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "label": "Content Alignment - Desktop",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme",
      "info": "This will be the color scheme of the header initially."
    },
    {
      "type": "header",
      "content": "Mobile Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_mobile",
      "label": "Top Spacing",
      "default": 100,
      "info": "in pixels. This will use 100px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_mobile",
      "label": "Bottom Spacing",
      "default": 100,
      "info": "in pixels. This will use 100px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Desktop Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_desktop",
      "label": "Top Spacing",
      "default": 100,
      "info": "in pixels. This will use 100px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_desktop",
      "label": "Bottom Spacing",
      "default": 100,
      "info": "in pixels. This will use 100px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color/Gradient"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image - Mobile"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image - Desktop"
    },
    {
      "type": "header",
      "content": "Divider Settings"
    },
    {
      "type": "select",
      "id": "section_divider_top",
      "label": "Section Divider - Top",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        },
        {
          "value": "scale",
          "label": "Scale"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "section_divider_bottom",
      "label": "Section Divider - Bottom",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Attribute Settings"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    }
  ],
  "blocks": [
    {
      "type": "_mfr-product__features__column"
    },
    {
      "type": "_section-content"
    }
  ],
  "presets": [
  {
    "name": "Product Features",
    "category": "Product Sections",
    "settings": {
      "container_width": "full",
      "max_width": 0,
      "grid_gutter": "",
      "mobile_alignment": "left",
      "desktop_alignment": "left",
      "color_scheme": "scheme-e7a2b49c-36ae-4b1f-b31f-f3ec31db1021",
      "top_spacing_mobile": 0,
      "bottom_spacing_mobile": 0,
      "top_spacing_desktop": 0,
      "bottom_spacing_desktop": 0,
      "bg_color": "#51482b",
      "section_divider_top": "line",
      "section_divider_bottom": ""
    },
    "blocks": [
      {
        "type": "_mfr-product__features__column",
        "settings": {
          "horizontal_alignment_mobile": "left",
          "horizontal_alignment_desktop": "left",
          "vertical_alignment_mobile": "flex-start",
          "vertical_alignment_desktop": "flex-start",
          "inner_max_width_mobile": 0,
          "inner_max_width_desktop": 630,
          "order_mobile": 0,
          "order_desktop": 0,
          "enable_width_settings": true,
          "width_mobile": true,
          "width_mobile_value": 100,
          "width_mobile_custom": "",
          "width_mobile_unit": "%",
          "width_desktop": true,
          "width_desktop_value": 65,
          "width_desktop_custom": "",
          "width_desktop_unit": "%",
          "enable_padding_settings": true,
          "padding_x_mobile": true,
          "padding_left_mobile": 20,
          "padding_right_mobile": 20,
          "padding_y_mobile": true,
          "padding_top_mobile": 43,
          "padding_bottom_mobile": 280,
          "padding_x_desktop": true,
          "padding_left_desktop": 30,
          "padding_right_desktop": 30,
          "padding_y_desktop": true,
          "padding_top_desktop": 50,
          "padding_bottom_desktop": 50,
          "enable_margin_settings": false
        },
        "blocks": [
          {
            "type": "_section-content",
            "settings": {
              "use_grid_container_max_width": false,
              "mobile_alignment": "",
              "desktop_alignment": "",
              "vertical_alignment": "flex-start",
              "text_color": "",
              "background_color": "",
              "enable_animated_bg": false,
              "border_radius_mobile": 0,
              "border_radius_desktop": 0,
              "enable_width_settings": false,
              "enable_padding_settings": false,
              "enable_margin_settings": false
            },
            "blocks": [
              {
                "type": "_section-content__title",
                "settings": {
                  "heading": "Lorem ipsum dolor sit amet",
                  "disable_animation": false,
                  "header_style": "h1",
                  "header_tag": "h2",
                  "font_family": "",
                  "highlight_color": "",
                  "underline_color": "",
                  "enable_margin_settings": true,
                  "margin_y_mobile": true,
                  "margin_top_mobile": 0,
                  "margin_bottom_mobile": 80,
                  "margin_y_desktop": true,
                  "margin_top_desktop": 0,
                  "margin_bottom_desktop": 177
                }
              },
              {
                "type": "_section-content__text",
                "settings": {
                  "text": "<p><strong>LOREM IPSUM</strong></p><p>Lorem ipsum dolor sit amet. Consectetur adipiscing elit, sed do eiusmod tempor.</p><p><strong>AMET DOLOR</strong></p><p>Lorem ipsum consectetur. Locks the lorem in. Adipiscing through the length, holds matte without dolor.</p>",
                  "disable_animation": false,
                  "text_style": "regular",
                  "font_family": "",
                  "color": "",
                  "highlight_color": "",
                  "underline_color": "",
                  "enable_width_settings": false,
                  "enable_margin_settings": false
                }
              }
            ]
          },
          {
            "type": "_mfr-product__features__icon-text",
            "settings": {
              "icon_text_list": [],
              "enable_width_settings": false,
              "enable_margin_settings": false
            }
          }
        ]
      },
      {
        "type": "_mfr-product__features__column",
        "settings": {
          "horizontal_alignment_mobile": "left",
          "horizontal_alignment_desktop": "left",
          "vertical_alignment_mobile": "flex-start",
          "vertical_alignment_desktop": "flex-start",
          "inner_max_width_mobile": 0,
          "inner_max_width_desktop": 0,
          "order_mobile": 0,
          "order_desktop": 0,
          "enable_width_settings": true,
          "width_mobile": true,
          "width_mobile_value": 100,
          "width_mobile_custom": "",
          "width_mobile_unit": "%",
          "width_desktop": true,
          "width_desktop_value": 35,
          "width_desktop_custom": "",
          "width_desktop_unit": "%",
          "enable_padding_settings": false,
          "enable_margin_settings": false
        },
        "blocks": [
          {
            "type": "_mfr-product__features__image",
            "settings": {
              "image_mobile": "",
              "image": "",
              "height_value_mobile": 306,
              "height_unit_mobile": "px",
              "height_value_desktop": 100,
              "height_unit_desktop": "%",
              "enable_width_settings": false,
              "enable_margin_settings": false
            }
          },
          {
            "type": "_mfr-product__features__product-image",
            "settings": {
              "metafield_namespace": "mfr_fields",
              "metafield_key": "product_features_images",
              "max_width_mobile": 236,
              "max_width_unit_mobile": "px",
              "max_width_desktop": 55.9,
              "max_width_unit_desktop": "%",
              "max_height_mobile": 438.3,
              "max_height_unit_mobile": "px",
              "max_height_desktop": 76,
              "max_height_unit_desktop": "%"
            }
          }
        ]
      },
      {
        "type": "_accent-graphics",
        "id": "accent-graphics",
        "static": true
      }
    ]
  }
]
}
{% endschema %}
