{%- comment -%}
--------------------------------------
assign section settings to variables
--------------------------------------
{%- endcomment -%}

{% render 'style-tags__section', asset_file_name: "mfr-core__table-section.css" %}

{%- assign container_width = section.settings.container_width -%}
{%- assign max_width = section.settings.max_width -%}
{%- assign grid_gutter = section.settings.grid_gutter -%}
{%- assign color_theme = section.settings.color_theme -%}
{%- assign custom_class = section.settings.custom_class -%}

{%- assign section_id = section.settings.custom_id | default: section.id -%}
{% render 'renderer__color-scheme', name: "section", color_scheme: section.settings.color_scheme, selector: ".shopify-section", section_id: section_id %}

{%- if max_width != 0 and container_width == "" -%}
  {%- capture max_width_style -%}
    style="max-width: {{ max_width }}rem;" 
  {%- endcapture -%}
{%- endif -%}

{% capture spacer %}
  --top-spacing-mobile: {{ section.settings.top_spacing_mobile | default: 100}}px;
  --bottom-spacing-mobile: {{ section.settings.bottom_spacing_mobile | default: 100 }}px;
  --top-spacing-desktop: {{ section.settings.top_spacing_desktop | default: 100 }}px;
  --bottom-spacing-desktop: {{ section.settings.bottom_spacing_desktop | default: 100 }}px;
{% endcapture %}
{% render 'section__settings-styles' %}
<section class="mfr-core__table-section {{ custom_class }} {{ grid_gutter }}
  {%- if container_width == 'full' %} [&_.table-section__media]:hidden [&_.table-section__item:first-child]:large:pl-[15%]{%- endif %}" id="{{ section_id }}">
  <div class="section-spacer background {{ grid_gutter }} relative z-[3] pt-[var(--top-spacing-mobile)] pb-[var(--bottom-spacing-mobile)] large:pt-[var(--top-spacing-desktop)] large:pb-[var(--bottom-spacing-desktop)]" style="{{ spacer }}">
    <div class="grid-container{% if container_width == 'full' %} full max-w-none px-0{% else %} mx-auto max-w-[var(--grid-container-max-width)] px-[var(--grid-container-padding-mobile)] large:px-[var(--grid-container-padding-desktop)]{% endif %} w-full relative z-[1] flex flex-col items-stretch gap-[3.125rem] large:flex-row large:gap-[7.5rem]" {{ max_width_style }}>
      <div class="alignment-helper {{ color_theme }} flex flex-row flex-wrap [justify-content:var(--justify-content-mobile)] [text-align:var(--text-align-mobile)] large:[justify-content:var(--justify-content-desktop)] large:[text-align:var(--text-align-desktop)]">
        <div class="section-content w-full min-w-0 relative z-[2] flex [align-items:inherit] [justify-content:inherit] flex-wrap gap-x-[1.875rem] mb-[1.5625rem] last:mb-0 large:mb-[2.1875rem] large:gap-x-[3.75rem] [&>.shopify-block:not(:last-child)]:mb-[0.9375rem] empty:hidden"
          data-stagger-inview=".section-icon__wrapper, .section-content__small-text, .section-content__text, .section-content__button">
          {%- content_for "blocks" -%}
        </div>
      </div>
    </div>
  {%- render 'component__gradient-bg-styles' -%}
  </div>
  {%- render 'component__section-dividers', is_video_background: true -%}
  {% content_for "block", type: "_accent-graphics", id: "accent-graphics" %}
</section>


{% schema %}
{
      "name": "Table Section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.offcanvas",
      "custom.modals"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "container_width",
      "options": [
        {
          "value": "full",
          "label": "Full"
        },
        {
          "value": "",
          "label": "Contain"
        }
      ],
      "label": "Width",
      "default": "full"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "rem",
      "label": "Max Content Width",
      "default": 0
    },
    {
      "type": "select",
      "id": "grid_gutter",
      "options": [
        {
          "value": "",
          "label": "No Margin"
        },
        {
          "value": "grid-gutter-mobile",
          "label": "On Mobile"
        },
        {
          "value": "grid-gutter-desktop",
          "label": "On Desktop"
        },
        {
          "value": "grid-gutter-mobile grid-gutter-desktop",
          "label": "On Both"
        },
      ],
      "label": "Section Margin",
    },
    {
      "type": "header",
      "content": "Alignment Settings"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "Content Alignment - Mobile",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "label": "Content Alignment - Desktop",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme",
      "info": "This will be the color scheme of the header initially."
    },
    {
      "type": "header",
      "content": "Mobile Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_mobile",
      "label": "Top Spacing",
      "default": 100,
      "info": "in pixels. This will use 100px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_mobile",
      "label": "Bottom Spacing",
      "default": 100,
      "info": "in pixels. This will use 100px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Desktop Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_desktop",
      "label": "Top Spacing",
      "default": 100,
      "info": "in pixels. This will use 100px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_desktop",
      "label": "Bottom Spacing",
      "default": 100,
      "info": "in pixels. This will use 100px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color/Gradient"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image - Mobile"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image - Desktop"
    },
    {
      "type": "header",
      "content": "Divider Settings"
    },
    {
      "type": "select",
      "id": "section_divider_top",
      "label": "Section Divider - Top",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        },
        {
          "value": "scale",
          "label": "Scale"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "section_divider_bottom",
      "label": "Section Divider - Bottom",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Attribute Settings"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    }
  ],
  "blocks": [
    {
      "type": "_section-content"
    },
    {
      "type": "_table"
    }
  ],
  "presets": [
  {
    "name": "Table Section",
    "category": "Manufactur Core Sections",
    "settings": {
      "container_width": "full",
      "max_width": 0,
      "grid_gutter": "",
      "mobile_alignment": "left",
      "desktop_alignment": "left",
      "color_scheme": "scheme-1",
      "top_spacing_mobile": 43,
      "bottom_spacing_mobile": 43,
      "top_spacing_desktop": 50,
      "bottom_spacing_desktop": 50,
      "bg_color": "#c4bfb3",
      "section_divider_top": "line",
      "section_divider_bottom": "line"
    },
    "blocks": [
      {
        "type": "_section-content",
        "settings": {
          "use_grid_container_max_width": true,
          "mobile_alignment": "",
          "desktop_alignment": "",
          "vertical_alignment": "flex-start",
          "text_color": "",
          "background_color": "",
          "enable_animated_bg": false,
          "border_radius_mobile": 0,
          "border_radius_desktop": 0,
          "enable_width_settings": false,
          "enable_padding_settings": true,
          "padding_x_mobile": true,
          "padding_left_mobile": 20,
          "padding_right_mobile": 20,
          "padding_y_mobile": false,
          "padding_top_mobile": 0,
          "padding_bottom_mobile": 0,
          "padding_x_desktop": true,
          "padding_left_desktop": 30,
          "padding_right_desktop": 30,
          "padding_y_desktop": false,
          "padding_top_desktop": 0,
          "padding_bottom_desktop": 0,
          "enable_margin_settings": true,
          "margin_y_mobile": true,
          "margin_top_mobile": 0,
          "margin_bottom_mobile": 30,
          "margin_y_desktop": true,
          "margin_top_desktop": 0,
          "margin_bottom_desktop": 90
        },
        "blocks": [
          {
            "type": "_section-content__title",
            "settings": {
              "heading": "LOREM, IPSUM AMET DOLOR",
              "disable_animation": false,
              "header_style": "h1",
              "header_tag": "h2",
              "font_family": "",
              "highlight_color": "",
              "underline_color": "",
              "enable_width_settings": false,
              "enable_margin_settings": false
            }
          },
          {
            "type": "_section-content__text",
            "settings": {
              "text": "<p>Lorem ipsum dolor sit amet consectetur. Adipiscing elit sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet consectetur adipiscing.</p>",
              "disable_animation": false,
              "text_style": "regular",
              "font_family": "custom-font-name-2",
              "color": "",
              "highlight_color": "",
              "underline_color": "",
              "enable_width_settings": true,
              "width_mobile": false,
              "max_width_desktop": true,
              "max_width_desktop_value": 725,
              "max_width_desktop_unit": "px",
              "enable_margin_settings": false
            }
          }
        ]
      },
      {
        "type": "_table",
        "settings": {
          "enable_width_settings": false,
          "enable_padding_settings": false,
          "enable_margin_settings": false
        },
        "blocks": [
          {
            "type": "_table__row",
            "settings": {
              "use_flex": true,
              "flex_justify": "center"
            },
            "blocks": [
              {
                "type": "_table__item",
                "settings": {
                  "image": "",
                  "image_max_width_mobile": 161,
                  "image_max_width_desktop": 225,
                  "text": "",
                  "font_family": "font-heading-h4",
                  "enable_font_settings": false,
                  "font_case": "",
                  "font_size_mobile": 0,
                  "line_height_mobile": 0,
                  "letter_spacing_mobile": 0,
                  "font_weight_mobile": "",
                  "font_size_desktop": 0,
                  "line_height_desktop": 0,
                  "letter_spacing_desktop": 0,
                  "font_weight_desktop": "",
                  "text_color": "#c4bfb3",
                  "bg_color": "#5b5235",
                  "text_align_mobile": "center",
                  "text_align_desktop": "center",
                  "enable_width_settings": true,
                  "width_mobile": true,
                  "width_mobile_value": 58,
                  "width_mobile_unit": "%",
                  "width_desktop": true,
                  "width_desktop_value": 50,
                  "width_desktop_unit": "%",
                  "max_width_mobile": true,
                  "max_width_mobile_value": 418,
                  "max_width_mobile_unit": "px",
                  "max_width_desktop": true,
                  "max_width_desktop_value": 418,
                  "max_width_desktop_unit": "px",
                  "enable_padding_settings": true,
                  "padding_x_mobile": true,
                  "padding_left_mobile": 45,
                  "padding_right_mobile": 45,
                  "padding_y_mobile": true,
                  "padding_top_mobile": 35,
                  "padding_bottom_mobile": 35,
                  "padding_x_desktop": true,
                  "padding_left_desktop": 45,
                  "padding_right_desktop": 45,
                  "padding_y_desktop": true,
                  "padding_top_desktop": 35,
                  "padding_bottom_desktop": 35,
                  "enable_margin_settings": false
                }
              },
              {
                "type": "_table__item",
                "settings": {
                  "image_max_width_mobile": 0,
                  "image_max_width_desktop": 0,
                  "text": "YOUR OLD ROUTINE",
                  "font_family": "font-heading-h4",
                  "enable_font_settings": true,
                  "font_case": "uppercase",
                  "font_size_mobile": 20,
                  "line_height_mobile": 22,
                  "letter_spacing_mobile": 0,
                  "font_weight_mobile": "500",
                  "font_size_desktop": 26,
                  "line_height_desktop": 29,
                  "letter_spacing_desktop": 0,
                  "font_weight_desktop": "500",
                  "text_color": "#1e1b22",
                  "bg_color": "",
                  "text_align_mobile": "center",
                  "text_align_desktop": "center",
                  "enable_width_settings": true,
                  "width_mobile": true,
                  "width_mobile_value": 42,
                  "width_mobile_unit": "%",
                  "width_desktop": true,
                  "width_desktop_value": 50,
                  "width_desktop_unit": "%",
                  "max_width_mobile": true,
                  "max_width_mobile_value": 418,
                  "max_width_mobile_unit": "px",
                  "max_width_desktop": true,
                  "max_width_desktop_value": 418,
                  "max_width_desktop_unit": "px",
                  "enable_padding_settings": true,
                  "padding_x_mobile": true,
                  "padding_left_mobile": 15,
                  "padding_right_mobile": 15,
                  "padding_y_mobile": true,
                  "padding_top_mobile": 32,
                  "padding_bottom_mobile": 32,
                  "padding_x_desktop": true,
                  "padding_left_desktop": 15,
                  "padding_right_desktop": 15,
                  "padding_y_desktop": true,
                  "padding_top_desktop": 32,
                  "padding_bottom_desktop": 32,
                  "enable_margin_settings": false
                }
              }
            ]
          },
          {
            "type": "_table__row",
            "settings": {
              "use_flex": true,
              "flex_justify": "center"
            },
            "blocks": [
              {
                "type": "_table__item",
                "settings": {
                  "image_max_width_mobile": 0,
                  "image_max_width_desktop": 0,
                  "text": "LOREM IPSUM, CONSECTETUR DOLOR",
                  "font_family": "font-heading-h4",
                  "enable_font_settings": false,
                  "font_case": "",
                  "font_size_mobile": 0,
                  "line_height_mobile": 0,
                  "letter_spacing_mobile": 0,
                  "font_weight_mobile": "",
                  "font_size_desktop": 0,
                  "line_height_desktop": 0,
                  "letter_spacing_desktop": 0,
                  "font_weight_desktop": "",
                  "text_color": "#c4bfb3",
                  "bg_color": "#5b5235",
                  "text_align_mobile": "center",
                  "text_align_desktop": "center",
                  "enable_width_settings": true,
                  "width_mobile": true,
                  "width_mobile_value": 58,
                  "width_mobile_unit": "%",
                  "width_desktop": true,
                  "width_desktop_value": 50,
                  "width_desktop_unit": "%",
                  "max_width_mobile": true,
                  "max_width_mobile_value": 418,
                  "max_width_mobile_unit": "px",
                  "max_width_desktop": true,
                  "max_width_desktop_value": 418,
                  "max_width_desktop_unit": "px",
                  "enable_padding_settings": true,
                  "padding_x_mobile": true,
                  "padding_left_mobile": 35,
                  "padding_right_mobile": 35,
                  "padding_y_mobile": true,
                  "padding_top_mobile": 20,
                  "padding_bottom_mobile": 20,
                  "padding_x_desktop": true,
                  "padding_left_desktop": 35,
                  "padding_right_desktop": 35,
                  "padding_y_desktop": true,
                  "padding_top_desktop": 20,
                  "padding_bottom_desktop": 20,
                  "enable_margin_settings": false
                }
              },
              {
                "type": "_table__item",
                "settings": {
                  "image_max_width_mobile": 0,
                  "image_max_width_desktop": 0,
                  "text": "AMET CONSECTETUR DOLOR IPSUM",
                  "font_family": "font-heading-h4",
                  "enable_font_settings": false,
                  "font_case": "",
                  "font_size_mobile": 0,
                  "line_height_mobile": 0,
                  "letter_spacing_mobile": 0,
                  "font_weight_mobile": "",
                  "font_size_desktop": 0,
                  "line_height_desktop": 0,
                  "letter_spacing_desktop": 0,
                  "font_weight_desktop": "",
                  "text_color": "#1e1b22",
                  "bg_color": "",
                  "text_align_mobile": "center",
                  "text_align_desktop": "center",
                  "enable_width_settings": true,
                  "width_mobile": true,
                  "width_mobile_value": 42,
                  "width_mobile_unit": "%",
                  "width_desktop": true,
                  "width_desktop_value": 50,
                  "width_desktop_unit": "%",
                  "max_width_mobile": true,
                  "max_width_mobile_value": 418,
                  "max_width_mobile_unit": "px",
                  "max_width_desktop": true,
                  "max_width_desktop_value": 418,
                  "max_width_desktop_unit": "px",
                  "enable_padding_settings": true,
                  "padding_x_mobile": true,
                  "padding_left_mobile": 12,
                  "padding_right_mobile": 12,
                  "padding_y_mobile": true,
                  "padding_top_mobile": 18,
                  "padding_bottom_mobile": 18,
                  "padding_x_desktop": true,
                  "padding_left_desktop": 12,
                  "padding_right_desktop": 12,
                  "padding_y_desktop": true,
                  "padding_top_desktop": 18,
                  "padding_bottom_desktop": 18,
                  "enable_margin_settings": false
                }
              }
            ]
          },
          {
            "type": "_table__row",
            "settings": {
              "use_flex": true,
              "flex_justify": "center"
            },
            "blocks": [
              {
                "type": "_table__item",
                "settings": {
                  "image_max_width_mobile": 0,
                  "image_max_width_desktop": 0,
                  "text": "LOREM AMET, IPSUM DOLOR CLEAN",
                  "font_family": "font-heading-h4",
                  "enable_font_settings": false,
                  "font_case": "",
                  "font_size_mobile": 0,
                  "line_height_mobile": 0,
                  "letter_spacing_mobile": 0,
                  "font_weight_mobile": "",
                  "font_size_desktop": 0,
                  "line_height_desktop": 0,
                  "letter_spacing_desktop": 0,
                  "font_weight_desktop": "",
                  "text_color": "#c4bfb3",
                  "bg_color": "#5b5235",
                  "text_align_mobile": "center",
                  "text_align_desktop": "center",
                  "enable_width_settings": true,
                  "width_mobile": true,
                  "width_mobile_value": 58,
                  "width_mobile_unit": "%",
                  "width_desktop": true,
                  "width_desktop_value": 50,
                  "width_desktop_unit": "%",
                  "max_width_mobile": true,
                  "max_width_mobile_value": 418,
                  "max_width_mobile_unit": "px",
                  "max_width_desktop": true,
                  "max_width_desktop_value": 418,
                  "max_width_desktop_unit": "px",
                  "enable_padding_settings": true,
                  "padding_x_mobile": true,
                  "padding_left_mobile": 35,
                  "padding_right_mobile": 35,
                  "padding_y_mobile": true,
                  "padding_top_mobile": 20,
                  "padding_bottom_mobile": 20,
                  "padding_x_desktop": true,
                  "padding_left_desktop": 35,
                  "padding_right_desktop": 35,
                  "padding_y_desktop": true,
                  "padding_top_desktop": 20,
                  "padding_bottom_desktop": 20,
                  "enable_margin_settings": false
                }
              },
              {
                "type": "_table__item",
                "settings": {
                  "image_max_width_mobile": 0,
                  "image_max_width_desktop": 0,
                  "text": "LOREM IPSUM DOLOR CONSECTETUR",
                  "font_family": "font-heading-h4",
                  "enable_font_settings": false,
                  "font_case": "",
                  "font_size_mobile": 0,
                  "line_height_mobile": 0,
                  "letter_spacing_mobile": 0,
                  "font_weight_mobile": "",
                  "font_size_desktop": 0,
                  "line_height_desktop": 0,
                  "letter_spacing_desktop": 0,
                  "font_weight_desktop": "",
                  "text_color": "#1e1b22",
                  "bg_color": "",
                  "text_align_mobile": "center",
                  "text_align_desktop": "center",
                  "enable_width_settings": true,
                  "width_mobile": true,
                  "width_mobile_value": 42,
                  "width_mobile_unit": "%",
                  "width_desktop": true,
                  "width_desktop_value": 50,
                  "width_desktop_unit": "%",
                  "max_width_mobile": true,
                  "max_width_mobile_value": 418,
                  "max_width_mobile_unit": "px",
                  "max_width_desktop": true,
                  "max_width_desktop_value": 418,
                  "max_width_desktop_unit": "px",
                  "enable_padding_settings": true,
                  "padding_x_mobile": true,
                  "padding_left_mobile": 12,
                  "padding_right_mobile": 12,
                  "padding_y_mobile": true,
                  "padding_top_mobile": 18,
                  "padding_bottom_mobile": 18,
                  "padding_x_desktop": true,
                  "padding_left_desktop": 12,
                  "padding_right_desktop": 12,
                  "padding_y_desktop": true,
                  "padding_top_desktop": 18,
                  "padding_bottom_desktop": 18,
                  "enable_margin_settings": false
                }
              }
            ]
          },
          {
            "type": "_table__row",
            "settings": {
              "use_flex": true,
              "flex_justify": "center"
            },
            "blocks": [
              {
                "type": "_table__item",
                "settings": {
                  "image_max_width_mobile": 0,
                  "image_max_width_desktop": 0,
                  "text": "LOREM AND IPSUM, AMET TOGETHER",
                  "font_family": "font-heading-h4",
                  "enable_font_settings": false,
                  "font_case": "",
                  "font_size_mobile": 0,
                  "line_height_mobile": 0,
                  "letter_spacing_mobile": 0,
                  "font_weight_mobile": "",
                  "font_size_desktop": 0,
                  "line_height_desktop": 0,
                  "letter_spacing_desktop": 0,
                  "font_weight_desktop": "",
                  "text_color": "#c4bfb3",
                  "bg_color": "#5b5235",
                  "text_align_mobile": "center",
                  "text_align_desktop": "center",
                  "enable_width_settings": true,
                  "width_mobile": true,
                  "width_mobile_value": 58,
                  "width_mobile_unit": "%",
                  "width_desktop": true,
                  "width_desktop_value": 50,
                  "width_desktop_unit": "%",
                  "max_width_mobile": true,
                  "max_width_mobile_value": 418,
                  "max_width_mobile_unit": "px",
                  "max_width_desktop": true,
                  "max_width_desktop_value": 418,
                  "max_width_desktop_unit": "px",
                  "enable_padding_settings": true,
                  "padding_x_mobile": true,
                  "padding_left_mobile": 35,
                  "padding_right_mobile": 35,
                  "padding_y_mobile": true,
                  "padding_top_mobile": 20,
                  "padding_bottom_mobile": 20,
                  "padding_x_desktop": true,
                  "padding_left_desktop": 35,
                  "padding_right_desktop": 35,
                  "padding_y_desktop": true,
                  "padding_top_desktop": 20,
                  "padding_bottom_desktop": 20,
                  "enable_margin_settings": false
                }
              },
              {
                "type": "_table__item",
                "settings": {
                  "image_max_width_mobile": 0,
                  "image_max_width_desktop": 0,
                  "text": "LOREM OR IPSUM, NEVER DOLOR",
                  "font_family": "font-heading-h4",
                  "enable_font_settings": false,
                  "font_case": "",
                  "font_size_mobile": 0,
                  "line_height_mobile": 0,
                  "letter_spacing_mobile": 0,
                  "font_weight_mobile": "",
                  "font_size_desktop": 0,
                  "line_height_desktop": 0,
                  "letter_spacing_desktop": 0,
                  "font_weight_desktop": "",
                  "text_color": "#1e1b22",
                  "bg_color": "",
                  "text_align_mobile": "center",
                  "text_align_desktop": "center",
                  "enable_width_settings": true,
                  "width_mobile": true,
                  "width_mobile_value": 42,
                  "width_mobile_unit": "%",
                  "width_desktop": true,
                  "width_desktop_value": 50,
                  "width_desktop_unit": "%",
                  "max_width_mobile": true,
                  "max_width_mobile_value": 418,
                  "max_width_mobile_unit": "px",
                  "max_width_desktop": true,
                  "max_width_desktop_value": 418,
                  "max_width_desktop_unit": "px",
                  "enable_padding_settings": true,
                  "padding_x_mobile": true,
                  "padding_left_mobile": 12,
                  "padding_right_mobile": 12,
                  "padding_y_mobile": true,
                  "padding_top_mobile": 18,
                  "padding_bottom_mobile": 18,
                  "padding_x_desktop": true,
                  "padding_left_desktop": 12,
                  "padding_right_desktop": 12,
                  "padding_y_desktop": true,
                  "padding_top_desktop": 18,
                  "padding_bottom_desktop": 18,
                  "enable_margin_settings": false
                }
              }
            ]
          },
          {
            "type": "_table__row",
            "settings": {
              "use_flex": true,
              "flex_justify": "center"
            },
            "blocks": [
              {
                "type": "_table__item",
                "settings": {
                  "image_max_width_mobile": 0,
                  "image_max_width_desktop": 0,
                  "text": "LOREM STANDARD, BOTH PRODUCTS",
                  "font_family": "font-heading-h4",
                  "enable_font_settings": false,
                  "font_case": "",
                  "font_size_mobile": 0,
                  "line_height_mobile": 0,
                  "letter_spacing_mobile": 0,
                  "font_weight_mobile": "",
                  "font_size_desktop": 0,
                  "line_height_desktop": 0,
                  "letter_spacing_desktop": 0,
                  "font_weight_desktop": "",
                  "text_color": "#c4bfb3",
                  "bg_color": "#5b5235",
                  "text_align_mobile": "center",
                  "text_align_desktop": "center",
                  "enable_width_settings": true,
                  "width_mobile": true,
                  "width_mobile_value": 58,
                  "width_mobile_unit": "%",
                  "width_desktop": true,
                  "width_desktop_value": 50,
                  "width_desktop_unit": "%",
                  "max_width_mobile": true,
                  "max_width_mobile_value": 418,
                  "max_width_mobile_unit": "px",
                  "max_width_desktop": true,
                  "max_width_desktop_value": 418,
                  "max_width_desktop_unit": "px",
                  "enable_padding_settings": true,
                  "padding_x_mobile": true,
                  "padding_left_mobile": 35,
                  "padding_right_mobile": 35,
                  "padding_y_mobile": true,
                  "padding_top_mobile": 20,
                  "padding_bottom_mobile": 20,
                  "padding_x_desktop": true,
                  "padding_left_desktop": 35,
                  "padding_right_desktop": 35,
                  "padding_y_desktop": true,
                  "padding_top_desktop": 20,
                  "padding_bottom_desktop": 20,
                  "enable_margin_settings": false
                }
              },
              {
                "type": "_table__item",
                "settings": {
                  "image_max_width_mobile": 0,
                  "image_max_width_desktop": 0,
                  "text": "DIFFERENT LOREM, DIFFERENT IPSUM",
                  "font_family": "font-heading-h4",
                  "enable_font_settings": false,
                  "font_case": "",
                  "font_size_mobile": 0,
                  "line_height_mobile": 0,
                  "letter_spacing_mobile": 0,
                  "font_weight_mobile": "",
                  "font_size_desktop": 0,
                  "line_height_desktop": 0,
                  "letter_spacing_desktop": 0,
                  "font_weight_desktop": "",
                  "text_color": "#1e1b22",
                  "bg_color": "",
                  "text_align_mobile": "center",
                  "text_align_desktop": "center",
                  "enable_width_settings": true,
                  "width_mobile": true,
                  "width_mobile_value": 42,
                  "width_mobile_unit": "%",
                  "width_desktop": true,
                  "width_desktop_value": 50,
                  "width_desktop_unit": "%",
                  "max_width_mobile": true,
                  "max_width_mobile_value": 418,
                  "max_width_mobile_unit": "px",
                  "max_width_desktop": true,
                  "max_width_desktop_value": 418,
                  "max_width_desktop_unit": "px",
                  "enable_padding_settings": true,
                  "padding_x_mobile": true,
                  "padding_left_mobile": 12,
                  "padding_right_mobile": 12,
                  "padding_y_mobile": true,
                  "padding_top_mobile": 18,
                  "padding_bottom_mobile": 18,
                  "padding_x_desktop": true,
                  "padding_left_desktop": 12,
                  "padding_right_desktop": 12,
                  "padding_y_desktop": true,
                  "padding_top_desktop": 18,
                  "padding_bottom_desktop": 18,
                  "enable_margin_settings": false
                }
              }
            ]
          }
        ]
      },
      {
        "type": "_accent-graphics",
        "id": "accent-graphics",
        "static": true
      }
    ]
  }
]
}
{% endschema %}