{%- comment -%}
--------------------------------------
assign section settings to variables
--------------------------------------
{%- endcomment -%}

{% render 'style-tags__section', asset_file_name: "mfr-core__featured-product.css" %}
{%- assign container_width = section.settings.container_width -%}
{%- assign max_width = section.settings.max_width -%}
{%- assign grid_gutter = section.settings.grid_gutter -%}
{%- assign custom_class = section.settings.custom_class -%}

{%- assign section_id = section.settings.custom_id | default: section.id -%}
{% render 'renderer__color-scheme', name: "section", color_scheme: section.settings.color_scheme, selector: ".shopify-section", section_id: section_id %}

{% capture spacer %}
  --top-spacing-mobile: {{ section.settings.top_spacing_mobile | default: 0 }}px;
  --bottom-spacing-mobile: {{ section.settings.bottom_spacing_mobile | default: 0 }}px;
  --top-spacing-desktop: {{ section.settings.top_spacing_desktop | default: 0 }}px;
  --bottom-spacing-desktop: {{ section.settings.bottom_spacing_desktop | default: 0 }}px;
{% endcapture %}
{% render 'section__settings-styles' %}

<section class="mfr-core__featured-product {{ custom_class }}" id="{{ section_id }}">
  <div class="featured-product__wrapper section-spacer background {{ grid_gutter }} pt-[var(--top-spacing-mobile)] pb-[var(--bottom-spacing-mobile)] large:pt-[var(--top-spacing-desktop)] large:pb-[var(--bottom-spacing-desktop)]" style="{{ spacer }}">

    <div class="featured-product__title-bar border-t border-b border-[var(--carbon,#1e1b22)]">
      {%- content_for "block", type: "_section-content", id: "section-content" -%}
    </div>

    <div class="featured-product__cards">
      {%- content_for "blocks" -%}
    </div>

    {%- render 'component__gradient-bg-styles' -%}
  </div>
  {%- render 'component__section-dividers', is_video_background: true -%}
  {%- content_for "block", type: "_accent-graphics", id: "accent-graphics" -%}
</section>


{% schema %}
{
  "name": "Featured Product",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.offcanvas",
      "custom.modals"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "container_width",
      "options": [
        {
          "value": "full",
          "label": "Full"
        },
        {
          "value": "",
          "label": "Contain"
        }
      ],
      "label": "Width",
      "default": "full"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "rem",
      "label": "Max Content Width",
      "default": 0
    },
    {
      "type": "select",
      "id": "grid_gutter",
      "options": [
        {
          "value": "",
          "label": "No Margin"
        },
        {
          "value": "grid-gutter-mobile",
          "label": "On Mobile"
        },
        {
          "value": "grid-gutter-desktop",
          "label": "On Desktop"
        },
        {
          "value": "grid-gutter-mobile grid-gutter-desktop",
          "label": "On Both"
        }
      ],
      "label": "Section Margin"
    },
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme",
      "info": "This will be the color scheme of the header initially."
    },
    {
      "type": "header",
      "content": "Mobile Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_mobile",
      "label": "Top Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_mobile",
      "label": "Bottom Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Desktop Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_desktop",
      "label": "Top Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_desktop",
      "label": "Bottom Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color/Gradient"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image - Mobile"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image - Desktop"
    },
    {
      "type": "header",
      "content": "Divider Settings"
    },
    {
      "type": "select",
      "id": "section_divider_top",
      "label": "Section Divider - Top",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        },
        {
          "value": "scale",
          "label": "Scale"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "section_divider_bottom",
      "label": "Section Divider - Bottom",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Attribute Settings"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    }
  ],
  "blocks": [
    {
      "type": "_section-content"
    },
    {
      "type": "_mfr-core__featured-product__featured-product"
    }
  ],
  "presets": [
  {
    "name": "Featured Product",
    "category": "Manufactur Core Sections",
    "settings": {
      "container_width": "full",
      "max_width": 0,
      "grid_gutter": "",
      "color_scheme": "scheme-1",
      "top_spacing_mobile": 0,
      "bottom_spacing_mobile": 0,
      "top_spacing_desktop": 0,
      "bottom_spacing_desktop": 0,
      "bg_color": "#d5d1c8",
      "section_divider_top": "",
      "section_divider_bottom": "",
      "custom_class": "",
      "custom_id": ""
    },
    "blocks": [
      {
        "type": "_mfr-core__featured-product__featured-product",
        "settings": {
          "image": ""
        },
        "blocks": [
          {
            "type": "_mfr-core__featured-product__text-list",
            "settings": {
              "value": "Lorem ipsum dolor sit amet",
              "show_divider": true,
              "enable_width_settings": false,
              "width_mobile": false,
              "width_mobile_value": 0,
              "width_mobile_custom": "",
              "width_mobile_unit": "px",
              "width_desktop": false,
              "width_desktop_value": 0,
              "width_desktop_custom": "",
              "width_desktop_unit": "px",
              "enable_padding_settings": false,
              "padding_x_mobile": false,
              "padding_left_mobile": 0,
              "padding_right_mobile": 0,
              "padding_y_mobile": false,
              "padding_top_mobile": 0,
              "padding_bottom_mobile": 0,
              "padding_x_desktop": false,
              "padding_left_desktop": 0,
              "padding_right_desktop": 0,
              "padding_y_desktop": false,
              "padding_top_desktop": 0,
              "padding_bottom_desktop": 0,
              "enable_margin_settings": false,
              "margin_x_mobile": false,
              "margin_left_mobile": 0,
              "margin_right_mobile": 0,
              "margin_y_mobile": false,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 0,
              "margin_x_desktop": false,
              "margin_left_desktop": 0,
              "margin_right_desktop": 0,
              "margin_y_desktop": false,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 0
            }
          },
          {
            "type": "_mfr-core__featured-product__text-list",
            "settings": {
              "value": "Lorem ipsum dolor sit",
              "show_divider": true,
              "enable_width_settings": false,
              "width_mobile": false,
              "width_mobile_value": 0,
              "width_mobile_custom": "",
              "width_mobile_unit": "px",
              "width_desktop": false,
              "width_desktop_value": 0,
              "width_desktop_custom": "",
              "width_desktop_unit": "px",
              "enable_padding_settings": false,
              "padding_x_mobile": false,
              "padding_left_mobile": 0,
              "padding_right_mobile": 0,
              "padding_y_mobile": false,
              "padding_top_mobile": 0,
              "padding_bottom_mobile": 0,
              "padding_x_desktop": false,
              "padding_left_desktop": 0,
              "padding_right_desktop": 0,
              "padding_y_desktop": false,
              "padding_top_desktop": 0,
              "padding_bottom_desktop": 0,
              "enable_margin_settings": false,
              "margin_x_mobile": false,
              "margin_left_mobile": 0,
              "margin_right_mobile": 0,
              "margin_y_mobile": false,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 0,
              "margin_x_desktop": false,
              "margin_left_desktop": 0,
              "margin_right_desktop": 0,
              "margin_y_desktop": false,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 0
            }
          },
          {
            "type": "_mfr-core__featured-product__text-list",
            "settings": {
              "value": "Lorem ipsum dolor",
              "show_divider": true,
              "enable_width_settings": false,
              "width_mobile": false,
              "width_mobile_value": 0,
              "width_mobile_custom": "",
              "width_mobile_unit": "px",
              "width_desktop": false,
              "width_desktop_value": 0,
              "width_desktop_custom": "",
              "width_desktop_unit": "px",
              "enable_padding_settings": false,
              "padding_x_mobile": false,
              "padding_left_mobile": 0,
              "padding_right_mobile": 0,
              "padding_y_mobile": false,
              "padding_top_mobile": 0,
              "padding_bottom_mobile": 0,
              "padding_x_desktop": false,
              "padding_left_desktop": 0,
              "padding_right_desktop": 0,
              "padding_y_desktop": false,
              "padding_top_desktop": 0,
              "padding_bottom_desktop": 0,
              "enable_margin_settings": false,
              "margin_x_mobile": false,
              "margin_left_mobile": 0,
              "margin_right_mobile": 0,
              "margin_y_mobile": false,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 0,
              "margin_x_desktop": false,
              "margin_left_desktop": 0,
              "margin_right_desktop": 0,
              "margin_y_desktop": false,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 0
            }
          },
          {
            "type": "_mfr-core__featured-product__text-list",
            "settings": {
              "value": "Lorem ipsum dolor sit",
              "show_divider": false,
              "enable_width_settings": false,
              "width_mobile": false,
              "width_mobile_value": 0,
              "width_mobile_custom": "",
              "width_mobile_unit": "px",
              "width_desktop": false,
              "width_desktop_value": 0,
              "width_desktop_custom": "",
              "width_desktop_unit": "px",
              "enable_padding_settings": false,
              "padding_x_mobile": false,
              "padding_left_mobile": 0,
              "padding_right_mobile": 0,
              "padding_y_mobile": false,
              "padding_top_mobile": 0,
              "padding_bottom_mobile": 0,
              "padding_x_desktop": false,
              "padding_left_desktop": 0,
              "padding_right_desktop": 0,
              "padding_y_desktop": false,
              "padding_top_desktop": 0,
              "padding_bottom_desktop": 0,
              "enable_margin_settings": true,
              "margin_x_mobile": false,
              "margin_left_mobile": 0,
              "margin_right_mobile": 0,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 30,
              "margin_x_desktop": false,
              "margin_left_desktop": 0,
              "margin_right_desktop": 0,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 33
            }
          },
          {
            "type": "_mfr-core__featured-product__product-info",
            "id": "product-info",
            "static": true,
            "settings": {
              "small_text": "Lorem ipsum dolor",
              "title": "Lorem ipsum dolor",
              "pilled_text": "Lorem ipsum",
              "show_price": true,
              "price_compare": "$65.00",
              "price_current": "$55.00",
              "price_save_text": "Lorem ipsum",
              "description": "<p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud exercitation</p>",
              "enable_width_settings": false,
              "width_mobile": false,
              "width_mobile_value": 0,
              "width_mobile_custom": "",
              "width_mobile_unit": "px",
              "width_desktop": false,
              "width_desktop_value": 0,
              "width_desktop_custom": "",
              "width_desktop_unit": "px",
              "enable_padding_settings": false,
              "padding_x_mobile": false,
              "padding_left_mobile": 0,
              "padding_right_mobile": 0,
              "padding_y_mobile": false,
              "padding_top_mobile": 0,
              "padding_bottom_mobile": 0,
              "padding_x_desktop": false,
              "padding_left_desktop": 0,
              "padding_right_desktop": 0,
              "padding_y_desktop": false,
              "padding_top_desktop": 0,
              "padding_bottom_desktop": 0,
              "enable_margin_settings": false,
              "margin_x_mobile": false,
              "margin_left_mobile": 0,
              "margin_right_mobile": 0,
              "margin_y_mobile": false,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 0,
              "margin_x_desktop": false,
              "margin_left_desktop": 0,
              "margin_right_desktop": 0,
              "margin_y_desktop": false,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 0
            }
          },
          {
            "type": "_mfr-core__featured-product__add-to-cart-button",
            "id": "add-to-cart-button",
            "static": true,
            "settings": {
              "button_label": "Lorem ipsum dolor",
              "button_style": "tertiary",
              "enable_width_settings": false,
              "width_mobile": false,
              "width_mobile_value": 0,
              "width_mobile_custom": "",
              "width_mobile_unit": "px",
              "width_desktop": false,
              "width_desktop_value": 0,
              "width_desktop_custom": "",
              "width_desktop_unit": "px",
              "enable_padding_settings": false,
              "padding_x_mobile": false,
              "padding_left_mobile": 0,
              "padding_right_mobile": 0,
              "padding_y_mobile": false,
              "padding_top_mobile": 0,
              "padding_bottom_mobile": 0,
              "padding_x_desktop": false,
              "padding_left_desktop": 0,
              "padding_right_desktop": 0,
              "padding_y_desktop": false,
              "padding_top_desktop": 0,
              "padding_bottom_desktop": 0,
              "enable_margin_settings": false,
              "margin_x_mobile": false,
              "margin_left_mobile": 0,
              "margin_right_mobile": 0,
              "margin_y_mobile": false,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 0,
              "margin_x_desktop": false,
              "margin_left_desktop": 0,
              "margin_right_desktop": 0,
              "margin_y_desktop": false,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 0
            }
          }
        ]
      },
      {
        "type": "_section-content",
        "id": "section-content",
        "static": true,
        "settings": {
          "use_grid_container_max_width": true,
          "mobile_alignment": "left",
          "desktop_alignment": "left",
          "vertical_alignment": "flex-start",
          "text_color": "",
          "background_color": "",
          "enable_animated_bg": false,
          "border_radius_mobile": 0,
          "border_radius_desktop": 0,
          "enable_width_settings": false,
          "width_mobile": false,
          "width_mobile_value": 0,
          "width_mobile_custom": "",
          "width_mobile_unit": "px",
          "width_desktop": false,
          "width_desktop_value": 0,
          "width_desktop_custom": "",
          "width_desktop_unit": "px",
          "max_width_mobile": false,
          "max_width_mobile_value": 0,
          "max_width_mobile_custom": "",
          "max_width_mobile_unit": "px",
          "max_width_desktop": false,
          "max_width_desktop_value": 0,
          "max_width_desktop_custom": "",
          "max_width_desktop_unit": "px",
          "enable_padding_settings": false,
          "padding_x_mobile": false,
          "padding_left_mobile": 0,
          "padding_right_mobile": 0,
          "padding_y_mobile": false,
          "padding_top_mobile": 0,
          "padding_bottom_mobile": 0,
          "padding_x_desktop": false,
          "padding_left_desktop": 0,
          "padding_right_desktop": 0,
          "padding_y_desktop": false,
          "padding_top_desktop": 0,
          "padding_bottom_desktop": 0,
          "enable_margin_settings": false,
          "margin_x_mobile": false,
          "margin_left_mobile": 0,
          "margin_right_mobile": 0,
          "margin_y_mobile": false,
          "margin_top_mobile": 0,
          "margin_bottom_mobile": 0,
          "margin_x_desktop": false,
          "margin_left_desktop": 0,
          "margin_right_desktop": 0,
          "margin_y_desktop": false,
          "margin_top_desktop": 0,
          "margin_bottom_desktop": 0
        },
        "blocks": [
          {
            "type": "_section-content__title",
            "settings": {
              "heading": "Lorem ipsum dolor sit",
              "disable_animation": false,
              "header_style": "h1",
              "header_tag": "h2",
              "font_family": "",
              "highlight_color": "",
              "underline_color": "",
              "enable_width_settings": false,
              "width_mobile": false,
              "width_mobile_value": 0,
              "width_mobile_custom": "",
              "width_mobile_unit": "px",
              "width_desktop": false,
              "width_desktop_value": 0,
              "width_desktop_custom": "",
              "width_desktop_unit": "px",
              "max_width_mobile": false,
              "max_width_mobile_value": 0,
              "max_width_mobile_custom": "",
              "max_width_mobile_unit": "px",
              "max_width_desktop": false,
              "max_width_desktop_value": 0,
              "max_width_desktop_custom": "",
              "max_width_desktop_unit": "px",
              "enable_padding_settings": false,
              "padding_x_mobile": false,
              "padding_left_mobile": 0,
              "padding_right_mobile": 0,
              "padding_y_mobile": false,
              "padding_top_mobile": 0,
              "padding_bottom_mobile": 0,
              "padding_x_desktop": false,
              "padding_left_desktop": 0,
              "padding_right_desktop": 0,
              "padding_y_desktop": false,
              "padding_top_desktop": 0,
              "padding_bottom_desktop": 0,
              "enable_margin_settings": false,
              "margin_x_mobile": false,
              "margin_left_mobile": 0,
              "margin_right_mobile": 0,
              "margin_y_mobile": false,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 0,
              "margin_x_desktop": false,
              "margin_left_desktop": 0,
              "margin_right_desktop": 0,
              "margin_y_desktop": false,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 0
            }
          }
        ]
      },
      {
        "type": "_accent-graphics",
        "id": "accent-graphics",
        "static": true
      }
    ]
  }
]
}
{% endschema %}
