{%- comment -%}
--------------------------------------
assign section settings to variables
--------------------------------------
{%- endcomment -%}

{% render 'style-tags__section', asset_file_name: "mfr-core__scrolling-bar.css" %}
{%- assign custom_class = section.settings.custom_class -%}

{%- assign section_id = section.settings.custom_id | default: section.id -%}
{% render 'renderer__color-scheme', name: "section", color_scheme: section.settings.color_scheme, selector: ".shopify-section", section_id: section_id %}

{%- capture spacer -%}
  --top-spacing-mobile: {{ section.settings.top_spacing_mobile | default: 30 }}px;
  --bottom-spacing-mobile: {{ section.settings.bottom_spacing_mobile | default: 30 }}px;
  --top-spacing-desktop: {{ section.settings.top_spacing_desktop | default: 38 }}px;
  --bottom-spacing-desktop: {{ section.settings.bottom_spacing_desktop | default: 38 }}px;
{%- endcapture -%}

<section class="mfr-core__scrolling-bar {{ custom_class }} border-b [border-color:#1e1b22] large:border-y" id="{{ section_id }}">
  <div class="scrolling-bar__inner pt-[var(--top-spacing-mobile)] pb-[var(--bottom-spacing-mobile)] large:pt-[var(--top-spacing-desktop)] large:pb-[var(--bottom-spacing-desktop)]" style="{{ spacer }}">
    {%- content_for "blocks" -%}
  </div>
  {%- render 'component__gradient-bg-styles' -%}
</section>


{% schema %}
{
  "name": "Scrolling Bar",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.offcanvas",
      "custom.modals"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme",
      "info": "This will be the color scheme of the header initially."
    },
    {
      "type": "header",
      "content": "Mobile Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_mobile",
      "label": "Top Spacing",
      "default": 30,
      "info": "in pixels."
    },
    {
      "type": "number",
      "id": "bottom_spacing_mobile",
      "label": "Bottom Spacing",
      "default": 30,
      "info": "in pixels."
    },
    {
      "type": "header",
      "content": "Desktop Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_desktop",
      "label": "Top Spacing",
      "default": 38,
      "info": "in pixels."
    },
    {
      "type": "number",
      "id": "bottom_spacing_desktop",
      "label": "Bottom Spacing",
      "default": 38,
      "info": "in pixels."
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color/Gradient"
    },
    {
      "type": "header",
      "content": "Attribute Settings"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    }
  ],
  "blocks": [
    {
      "type": "_scrolling-bar__carousel"
    },
    {
      "type": "_accent-graphics"
    }
  ],
  "presets": [
    {
      "name": "Scrolling Bar",
      "category": "Manufactur Core Sections",
      "blocks": [
        {
          "type": "_scrolling-bar__carousel",
          "id": "scrolling-bar-carousel",
          "blocks": [
            { "type": "_scrolling-bar__logo-item" },
            { "type": "_scrolling-bar__logo-item" },
            { "type": "_scrolling-bar__logo-item" }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
