{%- comment -%}
--------------------------------------
assign section settings to variables
--------------------------------------
{%- endcomment -%}

{% render 'style-tags__section', asset_file_name: "mfr-product__top.css" %}

{%- assign product_form_id = "product-form-" | append: product.id -%}
{%- assign container_width = section.settings.container_width -%}
{%- assign max_width = section.settings.max_width -%}
{%- assign grid_gutter = section.settings.grid_gutter -%}
{%- assign custom_class = section.settings.custom_class -%}

{%- assign section_id = section.settings.custom_id | default: section.id -%}
{% render 'renderer__color-scheme', name: "section", color_scheme: section.settings.color_scheme, selector: ".shopify-section", section_id: section_id %}

{%- if max_width != 0 and container_width == "" -%}
  {%- capture max_width_style -%}
    style="max-width: {{ max_width }}rem;"
  {%- endcapture -%}
{%- endif -%}

{% capture spacer %}
  --top-spacing-mobile: {{ section.settings.top_spacing_mobile | default: 0 }}px;
  --bottom-spacing-mobile: {{ section.settings.bottom_spacing_mobile | default: 0 }}px;
  --top-spacing-desktop: {{ section.settings.top_spacing_desktop | default: 0 }}px;
  --bottom-spacing-desktop: {{ section.settings.bottom_spacing_desktop | default: 0 }}px;
{% endcapture %}

{% render 'section__settings-styles' %}

<section
  class="mfr-product__top {{ custom_class }} {{ grid_gutter }}"
  id="{{ section_id }}"
  data-mfr-product-top>
  <div
    class="section-spacer background {{ grid_gutter }} pt-[var(--top-spacing-mobile)] pb-[var(--bottom-spacing-mobile)] large:pt-[var(--top-spacing-desktop)] large:pb-[var(--bottom-spacing-desktop)]"
    style="{{ spacer }}">
    <div
      class="grid-container{% if container_width == 'full' %} full max-w-none px-0{% else %} mx-auto max-w-[var(--grid-container-max-width)] px-[var(--grid-container-padding-mobile)] large:px-[var(--grid-container-padding-desktop)]{% endif %} w-full relative z-[1]"
      {{ max_width_style }}>
      <div class="alignment-helper flex flex-row flex-wrap w-full">
        {%- content_for "block", type: "_product-top__images", id: "product-top-images" -%}
        {%- content_for "block", type: "_product-top__info", id: "product-top-info" -%}
      </div>
    </div>

    {%- render 'component__gradient-bg-styles' -%}
  </div>
  {%- render 'component__section-dividers', is_video_background: true -%}
  {%- content_for "block", type: "_accent-graphics", id: "accent-graphics" -%}
</section>


{% schema %}
{
  "name": "Product: Top",
  "tag": "section",
  "class": "mfr-product__top",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "container_width",
      "options": [
        { "value": "full", "label": "Full" },
        { "value": "", "label": "Contain" }
      ],
      "label": "Width",
      "default": "full"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "rem",
      "label": "Max Content Width",
      "default": 0
    },
    {
      "type": "select",
      "id": "grid_gutter",
      "options": [
        { "value": "", "label": "No Margin" },
        { "value": "grid-gutter-mobile", "label": "On Mobile" },
        { "value": "grid-gutter-desktop", "label": "On Desktop" },
        { "value": "grid-gutter-mobile grid-gutter-desktop", "label": "On Both" }
      ],
      "label": "Section Margin"
    },
    {
      "type": "header",
      "content": "Carousel Settings"
    },
    {
      "type": "image_picker",
      "id": "carousel_background",
      "label": "Carousel Background Image"
    },
    {
      "type": "header",
      "content": "Alignment Settings"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "Content Alignment - Mobile",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "label": "Content Alignment - Desktop",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme",
      "info": "This will be the color scheme of the header initially."
    },
    {
      "type": "header",
      "content": "Mobile Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_mobile",
      "label": "Top Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_mobile",
      "label": "Bottom Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Desktop Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_desktop",
      "label": "Top Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_desktop",
      "label": "Bottom Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color/Gradient"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image - Mobile"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image - Desktop"
    },
    {
      "type": "header",
      "content": "Divider Settings"
    },
    {
      "type": "select",
      "id": "section_divider_top",
      "label": "Section Divider - Top",
      "options": [
        { "value": "", "label": "None" },
        { "value": "line", "label": "Line" },
        { "value": "rounded", "label": "Rounded" },
        { "value": "scale", "label": "Scale" }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "section_divider_bottom",
      "label": "Section Divider - Bottom",
      "options": [
        { "value": "", "label": "None" },
        { "value": "line", "label": "Line" },
        { "value": "rounded", "label": "Rounded" }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Attribute Settings"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    }
  ],
  "presets": [
  {
    "name": "Product: Top",
    "category": "Product Sections",
    "settings": {
      "container_width": "full",
      "max_width": 0,
      "grid_gutter": "",
      "mobile_alignment": "left",
      "desktop_alignment": "left",
      "color_scheme": "",
      "top_spacing_mobile": 0,
      "bottom_spacing_mobile": 0,
      "top_spacing_desktop": 0,
      "bottom_spacing_desktop": 0,
      "bg_color": "",
      "section_divider_top": "",
      "section_divider_bottom": "line"
    },
    "blocks": [
      {
        "type": "_product-top__images",
        "id": "product-top-images",
        "static": true,
        "settings": {
          "bg_color": "#C4BFB3",
          "desktop_full_aspect_ratio": "931/777",
          "desktop_half_aspect_ratio": "466/574",
          "enable_width_settings": true,
          "width_mobile": false,
          "width_mobile_value": 0,
          "width_mobile_custom": "",
          "width_mobile_unit": "px",
          "width_desktop": true,
          "width_desktop_value": 65,
          "width_desktop_custom": "",
          "width_desktop_unit": "%",
          "max_width_mobile": false,
          "max_width_mobile_value": 0,
          "max_width_mobile_custom": "",
          "max_width_mobile_unit": "px",
          "max_width_desktop": false,
          "max_width_desktop_value": 0,
          "max_width_desktop_custom": "",
          "max_width_desktop_unit": "px",
          "enable_padding_settings": false,
          "enable_margin_settings": false
        }
      },
      {
        "type": "_product-top__info",
        "id": "product-top-info",
        "static": true,
        "settings": {
          "enable_width_settings": true,
          "width_mobile": false,
          "width_mobile_value": 0,
          "width_mobile_custom": "",
          "width_mobile_unit": "px",
          "width_desktop": true,
          "width_desktop_value": 35,
          "width_desktop_custom": "",
          "width_desktop_unit": "%",
          "max_width_mobile": false,
          "max_width_mobile_value": 0,
          "max_width_mobile_custom": "",
          "max_width_mobile_unit": "px",
          "max_width_desktop": false,
          "max_width_desktop_value": 0,
          "max_width_desktop_custom": "",
          "max_width_desktop_unit": "px",
          "enable_padding_settings": true,
          "padding_x_mobile": true,
          "padding_left_mobile": 20,
          "padding_right_mobile": 20,
          "padding_y_mobile": true,
          "padding_top_mobile": 30,
          "padding_bottom_mobile": 30,
          "padding_x_desktop": true,
          "padding_left_desktop": 30,
          "padding_right_desktop": 30,
          "padding_y_desktop": true,
          "padding_top_desktop": 30,
          "padding_bottom_desktop": 50,
          "enable_margin_settings": false
        },
        "blocks": [
          {
            "type": "_product-top__small-text",
            "settings": {
              "text": "Lorem \u00b7 Ipsum \u00b7 Dolor",
              "pill_text": "Lorem Ipsum",
              "pill_color": "#eeece5",
              "pill_color_background": "#647949",
              "enable_margin_settings": true,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 12,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 12
            }
          },
          {
            "type": "_product-top__review-stars",
            "settings": {
              "rating": 5,
              "label": "4.9 (524)",
              "enable_margin_settings": true,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 12,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 12
            }
          },
          {
            "type": "_product-top__product-title",
            "settings": {
              "title": "",
              "enable_margin_settings": true,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 16,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 20
            }
          },
          {
            "type": "_product-top__pilled-text",
            "settings": {
              "text": "Lorem ipsum",
              "color": "",
              "color_background": "#9fa7aa",
              "enable_margin_settings": true,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 16,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 20
            }
          },
          {
            "type": "_product-top__divider",
            "settings": {
              "enable_margin_settings": true,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 16,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 16
            }
          },
          {
            "type": "_product-top__price",
            "settings": {
              "enable_margin_settings": true,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 26,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 26
            }
          },
          {
            "type": "_product-top__description",
            "settings": {
              "description": "",
              "enable_margin_settings": true,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 26,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 26
            }
          },
          {
            "type": "_product-top__submit-button",
            "settings": {
              "unavailable_label": "Unavailable",
              "sold_out_label": "Sold Out",
              "add_to_cart_label": "Add To Cart",
              "show_price": false,
              "bottom_caption": "",
              "enable_margin_settings": true,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 18,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 18
            }
          },
          {
            "type": "_product-top__quick-add",
            "settings": {
              "bundle_text": "Lorem ipsum bundle",
              "save_text": "Lorem ipsum, ships free",
              "quantity": 2,
              "enable_margin_settings": true,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 30,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 30
            }
          },
          {
            "type": "_product-top__trust-icons",
            "settings": {
              "trust_icons": [],
              "enable_margin_settings": true,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 30,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 30
            }
          },
          {
            "type": "_product-top__text-list",
            "settings": {
              "metafield_namespace": "mfr_fields",
              "metafield_key": "product_top_benefits_list",
              "enable_margin_settings": true,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 30,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 30
            }
          },
          {
            "type": "_product-top__additional-info",
            "settings": {
              "heading": "Lorem ipsum dolor",
              "caption": "Lorem ipsum",
              "bg_color": "#d5d1c8",
              "heading_color": "#1e1b22",
              "caption_color": "#1e1b22",
              "enable_margin_settings": true,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 30,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 30
            }
          },
          {
            "type": "_product-top__product-add-on",
            "settings": {
              "pilled_text": "Lorem Ipsum",
              "title": "Lorem Ipsum Dolor",
              "description": "Lorem ipsum dolor sit. The lorem ipsum.",
              "atc_label": "Lorem Lorem",
              "card_bg_color": "#9fa7aa",
              "image_bg_color": "#eeece5",
              "title_color": "#1e1b22",
              "description_color": "#1e1b22"
            }
          }
        ]
      },
      {
        "type": "_accent-graphics",
        "id": "accent-graphics",
        "static": true
      }
    ]
  }
]
}
{% endschema %}
