{%- comment -%}
--------------------------------------
assign section settings to variables
--------------------------------------
{%- endcomment -%}

{% render 'style-tags__section', asset_file_name: "mfr-product__grid.css" %}
{%- assign grid_gutter = section.settings.grid_gutter -%}
{%- assign custom_class = section.settings.custom_class -%}

{%- assign section_id = section.settings.custom_id | default: section.id -%}
{% render 'renderer__color-scheme', name: "section", color_scheme: section.settings.color_scheme, selector: ".shopify-section", section_id: section_id %}

{% capture spacer %}
  --top-spacing-mobile: {{ section.settings.top_spacing_mobile | default: 55 }}px;
  --bottom-spacing-mobile: {{ section.settings.bottom_spacing_mobile | default: 0 }}px;
  --top-spacing-desktop: {{ section.settings.top_spacing_desktop | default: 60 }}px;
  --bottom-spacing-desktop: {{ section.settings.bottom_spacing_desktop | default: 0 }}px;
{% endcapture %}
{% render 'section__settings-styles' %}

<section class="mfr-product__grid {{ custom_class }} {{ grid_gutter }}" id="{{ section_id }}">
  <div class="section-spacer background pt-[var(--top-spacing-mobile)] pb-[var(--bottom-spacing-mobile)] large:pt-[var(--top-spacing-desktop)] large:pb-[var(--bottom-spacing-desktop)]" style="{{ spacer }}">

    <div class="mfr-product__grid__header">
      {%- content_for "blocks" -%}
    </div>

    {%- content_for "block", type: "_mfr-product__grid__products", id: "products" -%}

    {%- render 'component__gradient-bg-styles' -%}
  </div>
  {%- render 'component__section-dividers', is_video_background: true -%}
  {%- content_for "block", type: "_accent-graphics", id: "accent-graphics" -%}
</section>


{% schema %}
{
  "name": "Product Grid",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.offcanvas",
      "custom.modals"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "grid_gutter",
      "options": [
        {
          "value": "",
          "label": "No Margin"
        },
        {
          "value": "grid-gutter-mobile",
          "label": "On Mobile"
        },
        {
          "value": "grid-gutter-desktop",
          "label": "On Desktop"
        },
        {
          "value": "grid-gutter-mobile grid-gutter-desktop",
          "label": "On Both"
        }
      ],
      "label": "Section Margin"
    },
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme",
      "info": "This will be the color scheme of the section."
    },
    {
      "type": "header",
      "content": "Mobile Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_mobile",
      "label": "Top Spacing",
      "default": 55,
      "info": "in pixels. This will use 55px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_mobile",
      "label": "Bottom Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Desktop Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_desktop",
      "label": "Top Spacing",
      "default": 60,
      "info": "in pixels. This will use 60px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_desktop",
      "label": "Bottom Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color/Gradient"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image - Mobile"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image - Desktop"
    },
    {
      "type": "header",
      "content": "Divider Settings"
    },
    {
      "type": "select",
      "id": "section_divider_top",
      "label": "Section Divider - Top",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        },
        {
          "value": "scale",
          "label": "Scale"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "section_divider_bottom",
      "label": "Section Divider - Bottom",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "line",
          "label": "Line"
        },
        {
          "value": "rounded",
          "label": "Rounded"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Attribute Settings"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    }
  ],
  "blocks": [
    {
      "type": "_section-content"
    },
    {
      "type": "_mfr-product__grid__products"
    },
    {
      "type": "_accent-graphics"
    }
  ],
  "presets": [
  {
    "name": "Product Grid",
    "category": "Manufactur Core Sections",
    "settings": {
      "grid_gutter": "",
      "color_scheme": "scheme-1",
      "top_spacing_mobile": 55,
      "bottom_spacing_mobile": 0,
      "top_spacing_desktop": 60,
      "bottom_spacing_desktop": 0,
      "bg_color": "#eeece5",
      "section_divider_top": "",
      "section_divider_bottom": "",
      "custom_class": "",
      "custom_id": ""
    },
    "blocks": [
      {
        "type": "_section-content",
        "settings": {
          "use_grid_container_max_width": true,
          "mobile_alignment": "left",
          "desktop_alignment": "left",
          "vertical_alignment": "flex-start",
          "text_color": "",
          "background_color": "",
          "enable_animated_bg": false,
          "border_radius_mobile": 0,
          "border_radius_desktop": 0,
          "enable_width_settings": false,
          "width_mobile": false,
          "width_mobile_value": 0,
          "width_mobile_custom": "",
          "width_mobile_unit": "px",
          "width_desktop": false,
          "width_desktop_value": 0,
          "width_desktop_custom": "",
          "width_desktop_unit": "px",
          "max_width_mobile": false,
          "max_width_mobile_value": 0,
          "max_width_mobile_custom": "",
          "max_width_mobile_unit": "px",
          "max_width_desktop": false,
          "max_width_desktop_value": 1380,
          "max_width_desktop_custom": "",
          "max_width_desktop_unit": "px",
          "enable_padding_settings": true,
          "padding_x_mobile": true,
          "padding_left_mobile": 20,
          "padding_right_mobile": 20,
          "padding_y_mobile": true,
          "padding_top_mobile": 0,
          "padding_bottom_mobile": 24,
          "padding_x_desktop": true,
          "padding_left_desktop": 30,
          "padding_right_desktop": 30,
          "padding_y_desktop": true,
          "padding_top_desktop": 0,
          "padding_bottom_desktop": 24,
          "enable_margin_settings": false,
          "margin_x_mobile": false,
          "margin_left_mobile": 0,
          "margin_right_mobile": 0,
          "margin_y_mobile": false,
          "margin_top_mobile": 0,
          "margin_bottom_mobile": 0,
          "margin_x_desktop": false,
          "margin_left_desktop": 0,
          "margin_right_desktop": 0,
          "margin_y_desktop": false,
          "margin_top_desktop": 0,
          "margin_bottom_desktop": 0
        },
        "blocks": [
          {
            "type": "_section-content__title",
            "settings": {
              "heading": "Lorem ipsum dolor",
              "disable_animation": false,
              "header_style": "h1",
              "header_tag": "h2",
              "font_family": "",
              "highlight_color": "",
              "underline_color": "",
              "enable_width_settings": false,
              "width_mobile": false,
              "width_mobile_value": 0,
              "width_mobile_custom": "",
              "width_mobile_unit": "px",
              "width_desktop": false,
              "width_desktop_value": 0,
              "width_desktop_custom": "",
              "width_desktop_unit": "px",
              "max_width_mobile": false,
              "max_width_mobile_value": 0,
              "max_width_mobile_custom": "",
              "max_width_mobile_unit": "px",
              "max_width_desktop": false,
              "max_width_desktop_value": 0,
              "max_width_desktop_custom": "",
              "max_width_desktop_unit": "px",
              "enable_padding_settings": false,
              "padding_x_mobile": false,
              "padding_left_mobile": 0,
              "padding_right_mobile": 0,
              "padding_y_mobile": false,
              "padding_top_mobile": 0,
              "padding_bottom_mobile": 0,
              "padding_x_desktop": false,
              "padding_left_desktop": 0,
              "padding_right_desktop": 0,
              "padding_y_desktop": false,
              "padding_top_desktop": 0,
              "padding_bottom_desktop": 0,
              "enable_margin_settings": true,
              "margin_x_mobile": false,
              "margin_left_mobile": 0,
              "margin_right_mobile": 0,
              "margin_y_mobile": true,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 20,
              "margin_x_desktop": false,
              "margin_left_desktop": 0,
              "margin_right_desktop": 0,
              "margin_y_desktop": true,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 20
            }
          },
          {
            "type": "_section-content__text",
            "settings": {
              "text": "<p>Lorem ipsum dolor</p>",
              "disable_animation": false,
              "text_style": "bold",
              "font_family": "custom-font-name-1",
              "color": "",
              "highlight_color": "",
              "underline_color": "",
              "enable_width_settings": false,
              "width_mobile": false,
              "width_mobile_value": 0,
              "width_mobile_custom": "",
              "width_mobile_unit": "px",
              "width_desktop": false,
              "width_desktop_value": 0,
              "width_desktop_custom": "",
              "width_desktop_unit": "px",
              "max_width_mobile": false,
              "max_width_mobile_value": 0,
              "max_width_mobile_custom": "",
              "max_width_mobile_unit": "px",
              "max_width_desktop": false,
              "max_width_desktop_value": 0,
              "max_width_desktop_custom": "",
              "max_width_desktop_unit": "px",
              "enable_padding_settings": false,
              "padding_x_mobile": false,
              "padding_left_mobile": 0,
              "padding_right_mobile": 0,
              "padding_y_mobile": false,
              "padding_top_mobile": 0,
              "padding_bottom_mobile": 0,
              "padding_x_desktop": false,
              "padding_left_desktop": 0,
              "padding_right_desktop": 0,
              "padding_y_desktop": false,
              "padding_top_desktop": 0,
              "padding_bottom_desktop": 0,
              "enable_margin_settings": false,
              "margin_x_mobile": false,
              "margin_left_mobile": 0,
              "margin_right_mobile": 0,
              "margin_y_mobile": false,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 0,
              "margin_x_desktop": false,
              "margin_left_desktop": 0,
              "margin_right_desktop": 0,
              "margin_y_desktop": false,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 0
            }
          }
        ]
      },
      {
        "type": "_mfr-product__grid__products",
        "id": "products",
        "static": true,
        "settings": {
          "enable_width_settings": false,
          "width_mobile": false,
          "width_mobile_value": 0,
          "width_mobile_custom": "",
          "width_mobile_unit": "px",
          "width_desktop": false,
          "width_desktop_value": 0,
          "width_desktop_custom": "",
          "width_desktop_unit": "px",
          "enable_padding_settings": false,
          "padding_x_mobile": false,
          "padding_left_mobile": 0,
          "padding_right_mobile": 0,
          "padding_y_mobile": false,
          "padding_top_mobile": 0,
          "padding_bottom_mobile": 0,
          "padding_x_desktop": false,
          "padding_left_desktop": 0,
          "padding_right_desktop": 0,
          "padding_y_desktop": false,
          "padding_top_desktop": 0,
          "padding_bottom_desktop": 0,
          "enable_margin_settings": false,
          "margin_x_mobile": false,
          "margin_left_mobile": 0,
          "margin_right_mobile": 0,
          "margin_y_mobile": false,
          "margin_top_mobile": 0,
          "margin_bottom_mobile": 0,
          "margin_x_desktop": false,
          "margin_left_desktop": 0,
          "margin_right_desktop": 0,
          "margin_y_desktop": false,
          "margin_top_desktop": 0,
          "margin_bottom_desktop": 0
        },
        "blocks": [
          {
            "type": "_mfr-product__grid__product",
            "settings": {
              "image": "{{ closest.product.metafields.mfr_fields.product_card_image.value }}",
              "description": "{{ closest.product.metafields.mfr_fields.product_card_description.value }}",
              "aspect_ratio_mobile": "custom",
              "aspect_ratio_mobile_custom": "390/618",
              "aspect_ratio_desktop": "custom",
              "aspect_ratio_desktop_custom": "660/688",
              "enable_width_settings": true,
              "width_mobile": true,
              "width_mobile_value": 100,
              "width_mobile_custom": "",
              "width_mobile_unit": "%",
              "width_desktop": true,
              "width_desktop_value": 50,
              "width_desktop_custom": "",
              "width_desktop_unit": "%",
              "enable_padding_settings": false,
              "padding_x_mobile": false,
              "padding_left_mobile": 0,
              "padding_right_mobile": 0,
              "padding_y_mobile": false,
              "padding_top_mobile": 0,
              "padding_bottom_mobile": 0,
              "padding_x_desktop": false,
              "padding_left_desktop": 0,
              "padding_right_desktop": 0,
              "padding_y_desktop": false,
              "padding_top_desktop": 0,
              "padding_bottom_desktop": 0,
              "enable_margin_settings": false,
              "margin_x_mobile": false,
              "margin_left_mobile": 0,
              "margin_right_mobile": 0,
              "margin_y_mobile": false,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 0,
              "margin_x_desktop": false,
              "margin_left_desktop": 0,
              "margin_right_desktop": 0,
              "margin_y_desktop": false,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 0
            }
          },
          {
            "type": "_mfr-product__grid__product",
            "settings": {
              "image": "{{ closest.product.metafields.mfr_fields.product_card_image.value }}",
              "description": "{{ closest.product.metafields.mfr_fields.product_card_description.value }}",
              "aspect_ratio_mobile": "custom",
              "aspect_ratio_mobile_custom": "390/618",
              "aspect_ratio_desktop": "custom",
              "aspect_ratio_desktop_custom": "660/688",
              "enable_width_settings": true,
              "width_mobile": true,
              "width_mobile_value": 100,
              "width_mobile_custom": "",
              "width_mobile_unit": "%",
              "width_desktop": true,
              "width_desktop_value": 50,
              "width_desktop_custom": "",
              "width_desktop_unit": "%",
              "enable_padding_settings": false,
              "padding_x_mobile": false,
              "padding_left_mobile": 0,
              "padding_right_mobile": 0,
              "padding_y_mobile": false,
              "padding_top_mobile": 0,
              "padding_bottom_mobile": 0,
              "padding_x_desktop": false,
              "padding_left_desktop": 0,
              "padding_right_desktop": 0,
              "padding_y_desktop": false,
              "padding_top_desktop": 0,
              "padding_bottom_desktop": 0,
              "enable_margin_settings": false,
              "margin_x_mobile": false,
              "margin_left_mobile": 0,
              "margin_right_mobile": 0,
              "margin_y_mobile": false,
              "margin_top_mobile": 0,
              "margin_bottom_mobile": 0,
              "margin_x_desktop": false,
              "margin_left_desktop": 0,
              "margin_right_desktop": 0,
              "margin_y_desktop": false,
              "margin_top_desktop": 0,
              "margin_bottom_desktop": 0
            }
          }
        ]
      },
      {
        "type": "_accent-graphics",
        "id": "accent-graphics",
        "static": true
      }
    ]
  }
]
}
{% endschema %}
