{%- comment -%}
--------------------------------------
assign section settings to variables
--------------------------------------
{%- endcomment -%}

{% render 'style-tags__section', asset_file_name: "mfr-product__top.css" %}

{%- assign product_form_id = "product-form-" | append: product.id -%}
{%- assign container_width = section.settings.container_width -%}
{%- assign max_width = section.settings.max_width -%}
{%- assign grid_gutter = section.settings.grid_gutter -%}
{%- assign custom_class = section.settings.custom_class -%}

{%- assign section_id = section.settings.custom_id | default: section.id -%}
{% render 'renderer__color-scheme', name: "section", color_scheme: section.settings.color_scheme, selector: ".shopify-section", section_id: section_id %}

{%- if max_width != 0 and container_width == "" -%}
  {%- capture max_width_style -%}
    style="max-width: {{ max_width }}rem;"
  {%- endcapture -%}
{%- endif -%}

{% capture spacer %}
  --top-spacing-mobile: {{ section.settings.top_spacing_mobile | default: 0 }}px;
  --bottom-spacing-mobile: {{ section.settings.bottom_spacing_mobile | default: 0 }}px;
  --top-spacing-desktop: {{ section.settings.top_spacing_desktop | default: 0 }}px;
  --bottom-spacing-desktop: {{ section.settings.bottom_spacing_desktop | default: 0 }}px;
{% endcapture %}

{% render 'section__settings-styles' %}

<section
  class="mfr-product__top {{ custom_class }} {{ grid_gutter }}"
  id="{{ section_id }}"
  data-mfr-product-top>
  <div
    class="section-spacer background {{ grid_gutter }} pt-[var(--top-spacing-mobile)] pb-[var(--bottom-spacing-mobile)] large:pt-[var(--top-spacing-desktop)] large:pb-[var(--bottom-spacing-desktop)]"
    style="{{ spacer }}">
    <div
      class="grid-container{% if container_width == 'full' %} full max-w-none px-0{% else %} mx-auto max-w-[var(--grid-container-max-width)] px-[var(--grid-container-padding-mobile)] large:px-[var(--grid-container-padding-desktop)]{% endif %} w-full relative z-[1]"
      {{ max_width_style }}>
      <div class="alignment-helper flex flex-row flex-wrap w-full">
        {%- content_for "block", type: "_product-top__images", id: "product-top-images" -%}
        {%- content_for "block", type: "_product-top__info", id: "product-top-info" -%}
      </div>
    </div>

    {%- render 'component__gradient-bg-styles' -%}
  </div>
  {%- render 'component__section-dividers', is_video_background: true -%}
  {%- content_for "block", type: "_accent-graphics", id: "accent-graphics" -%}
</section>


{% schema %}
{
  "name": "Product: Top",
  "tag": "section",
  "class": "mfr-product__top",
  "enabled_on": {
    "templates": ["product"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "select",
      "id": "container_width",
      "options": [
        { "value": "full", "label": "Full" },
        { "value": "", "label": "Contain" }
      ],
      "label": "Width",
      "default": "full"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "rem",
      "label": "Max Content Width",
      "default": 0
    },
    {
      "type": "select",
      "id": "grid_gutter",
      "options": [
        { "value": "", "label": "No Margin" },
        { "value": "grid-gutter-mobile", "label": "On Mobile" },
        { "value": "grid-gutter-desktop", "label": "On Desktop" },
        { "value": "grid-gutter-mobile grid-gutter-desktop", "label": "On Both" }
      ],
      "label": "Section Margin"
    },
    {
      "type": "header",
      "content": "Carousel Settings"
    },
    {
      "type": "image_picker",
      "id": "carousel_background",
      "label": "Carousel Background Image"
    },
    {
      "type": "header",
      "content": "Alignment Settings"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "Content Alignment - Mobile",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "label": "Content Alignment - Desktop",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Color Schemes Settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color Scheme",
      "info": "This will be the color scheme of the header initially."
    },
    {
      "type": "header",
      "content": "Mobile Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_mobile",
      "label": "Top Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_mobile",
      "label": "Bottom Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Desktop Section Spacing"
    },
    {
      "type": "number",
      "id": "top_spacing_desktop",
      "label": "Top Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "number",
      "id": "bottom_spacing_desktop",
      "label": "Bottom Spacing",
      "default": 0,
      "info": "in pixels. This will use 0px as default value if left empty"
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color/Gradient"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobile",
      "label": "Background Image - Mobile"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image - Desktop"
    },
    {
      "type": "header",
      "content": "Divider Settings"
    },
    {
      "type": "select",
      "id": "section_divider_top",
      "label": "Section Divider - Top",
      "options": [
        { "value": "", "label": "None" },
        { "value": "line", "label": "Line" },
        { "value": "rounded", "label": "Rounded" },
        { "value": "scale", "label": "Scale" }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "section_divider_bottom",
      "label": "Section Divider - Bottom",
      "options": [
        { "value": "", "label": "None" },
        { "value": "line", "label": "Line" },
        { "value": "rounded", "label": "Rounded" }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Attribute Settings"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "text",
      "id": "custom_id",
      "label": "Custom ID"
    }
  ],
  "presets": [
    {
      "name": "Product: Top",
      "blocks": [
        {
          "type": "_product-top__images",
          "id": "product-top-images",
          "static": true
        },
        {
          "type": "_product-top__info",
          "id": "product-top-info",
          "static": true,
          "blocks": [
            { "type": "_product-top__small-text" },
            { "type": "_product-top__review-stars" },
            { "type": "_product-top__product-title" },
            { "type": "_product-top__pilled-text" },
            { "type": "_product-top__divider" },
            { "type": "_product-top__price" },
            { "type": "_product-top__description" },
            { "type": "_product-top__variant-selector" },
            { "type": "_product-top__subscription-options" },
            { "type": "_product-top__quantity-selector" },
            { "type": "_product-top__submit-button" },
            { "type": "_product-top__quick-add" }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
